<h1>Edit your sTressor</h1>

<% form_for(@stress) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :first_acknowledged %><br />
    <%# = f.date_select :first_acknowledged %>
    <%= calendar_box 'stress', 'first_acknowledged',
       { :class => 'date',
         
         :field_title => 'First Acknowledged',
         :button_title => 'Show calendar' ,
          },
       { :firstDay => 1,
         :range => [1900, 2015],
         :step => 1,
         :showsTime => 1,
         :showOthers => true,
         :cache => true } %>
    
  </p>
  <p>
    <%= f.label :initial_effect_on_life %>:0[Low]-100[High]<br />
    <%= f.text_field :initial_effect_on_life %>
  </p>
  <p>
    <%= f.label :desired_effect_on_lifestyle %>:0[Low]-100[High]<br />
    <%= f.text_field :desired_effect_on_lifestyle %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%# = link_to 'Show this sTressor without editing', @stress %> |
<%= link_to 'Show sTressors', stresses_path %>
