  <fieldset> 
  <legend>Address: <%= link_to "Edit" , edit_profile_path( :fieldset => "address") %></legend>
  <p>
    <%="Address" %> <!-- was a br -->
    <%= @profile.address1 %>
  </p>
  <p>
    <%="Address2" %> <!-- was a br -->
    <%= @profile.address2 %>
  </p>
  <p>
    <%="City" %> <!-- was a br -->
    <%= @profile.city %>
  </p>
  <p>
    <%="State" %> <!-- was a br -->
    <%= @profile.state %>
  </p>
  <p>
    <%="Zip" %> <!-- was a br -->
    <%= @profile.zip %>
  </p>
  </fieldset>
