  <fieldset>
  <legend>Address</legend>
  <p>
    <%= f.label :address %><!-- was a br -->
    <%= f.text_field :address1 , :size => 20 %>
  </p>
  <p>
    <%= f.label :address %><!-- was a br -->
    <%= f.text_field :address2 , :size => 20%>
  </p>
  <p>
    <%= f.label :city %><!-- was a br -->
    <%= f.text_field :city , :size => 10%>

    <%= f.label :state %><!-- was a br -->
    <%= f.text_field :state , :size => 5 %>

    <%= f.label :zip %><!-- was a br -->
    <%= f.text_field :zip , :size => 5%>
  </p>
  </fieldset>
