




<div class="left">
<%= render :partial => "required" , :locals => { :f => f } %>
<%= render :partial => "address" , :locals => { :f => f } %>
<%= render :partial => "personal_details" , :locals => { :f => f } %>
</div>

<div class='right'>
<%= render :partial => "ethnicity" , :locals => { :f => f } %>
<%= render :partial => "contact" , :locals => { :f => f } %>
<%= render :partial => "substance_usage" , :locals => { :f => f } %>
<%= render :partial => "emergency_contact" , :locals => { :f => f } %>
</div>

<div class="last">

<%= render ( :partial => "terms" , :locals => { :f => f }) unless current_user.profile.terms_agreed %>
</div>
  

