<fieldset>
  <legend>Contact Information</legend>

  <p>
    <%= f.label :cell_phone %><!-- was a br -->
    <%= f.text_field :cell_phone , :size => 12%>
  </p>
  <p>
    <%= f.label :phone %><!-- was a br -->
    <%= f.text_field :phone, :size => 12 %>
  </p>
  <p>
    <%= f.label :work_phone %><!-- was a br -->
    <%= f.text_field :work_phone , :size => 12 %>
  </p>

</fieldset>
