<fieldset>
<legend> Ethnicity: <%= link_to "Edit" , edit_profile_path( :fieldset => "ethnicity") %></legend>
  <p>
    <%="Body shape:"%> <!-- was a br -->
    <%= @profile.body_shape %>
  </p>
  <p>
    <%="Sex:" %> <!-- was a br -->
    <%= @profile.sex unless @profile.sex.nil?%>
  </p>
  <p>
    <%="Race:" %> <!-- was a br -->
    <%= @profile.race %>
  </p>
</fieldset>
