<fieldset>
<legend> Ethnicity: <%= link_to "Edit" , edit_profile_path( :fieldset => "ethnicity") %></legend>
  <p>
    <%="body shape:".capitalize %> <!-- was a br -->
    <%= @profile.body_shape.capitalize %>
  </p>
  <p>
    <%="sex:".capitalize %> <!-- was a br -->
    <%= @profile.sex.capitalize unless @profile.sex.nil?%>
  </p>
  <p>
    <%="race:".capitalize %> <!-- was a br -->
    <%= @profile.race.capitalize %>
  </p>
</fieldset>
