<fieldset><legend>Required</legend>
  <p>
    <%= f.label :dob %><!-- was a br -->
    <%= f.date_select :dob, :start_year => 1900 %>
  </p>

    <p>
    <%= f.label :height_inch %><!-- was a br -->
    <%= f.text_field :height_inch , :size => 2%>
  </p>
  </fieldset>


<fieldset><legend>Reference</legend>  
      <p>
    "Sponsor #": <%= f.text_field :sponsor_id %> <br/>  
    <!--%= f.label "If you were referred by a Pharmacy then please enter their phone number" %>
    <%= f.text_field :rx_affiliate_no , :size => 12% -->
  </p>
 </fieldset>
 
