  
<fieldset><legend>Substance Use and Exposure: <%= link_to "Edit" , edit_profile_path( :fieldset => "substance") %></legend>
  <!-- p>
   List unusual substance exposure: <!-- was a br -->
    <% #= @profile.list_unusual_substance_exposure.capitalize %>
  </p  -->
  <p>
   Smoked tobacco regularly within the last 10 years: <!-- was a br -->
    <%= if @profile.smoker then "Yes" else "No" end %>
  </p>
  <p>
   Smoked tobacco regularly more 10 years ago: <!-- was a br -->
    <%= if @profile.was_smoker  then "Yes" else "No" end %>
  </p>
  <p>
   Average smoking: <!-- was a br -->
    <%= @profile.average_smoking %>
  </p>
  <p>
   Greater than 2 drinks per day or 14/week: <!-- was a br -->
    <%= if @profile.alcoholic  then "Yes" else "No" end %>
  </p>
  <p>
   Alcoholic drinks weekly: <!-- was a br -->
    <%= @profile.ounces_alcohol_weekly %>
  </p>

</fieldset>

