  
<fieldset><legend>Substance Use and Exposure</legend>
  <p>
    <%= f.label "Have you smoked tobacco regularly within the last 10 years?" %><!-- was a br -->
    <%= f.check_box :smoker %>
  </p>
  <p>
    <%= f.label :was_smoker %><!-- was a br -->
    <%= f.check_box :was_smoker %>
  </p>
  <p>
    <%= f.label :average_smoking %><!-- was a br -->
    <%= f.text_field :average_smoking , :size => 10%>
  </p>
  <p>
    <%= f.label "Do you drink more than 2 drinks per day or 14/week" %><!-- was a br -->
    <%= f.check_box :alcoholic %>
  </p>
  <p>
    <%= f.label :Alcoholic_drinks_weekly %><!-- was a br -->
    <%= f.text_field :ounces_alcohol_weekly , :size => 3%>
  </p>
</fieldset>
