<table>
<tr>
<td colspan = 2>

<%= render :partial => "required" , :locals => { :f => f } %>
</td>
</tr>
<tr>
<td>

<%= render :partial => "address" , :locals => { :f => f } %>
<%= render :partial => "ethnicity" , :locals => { :f => f } %>
<%= render :partial => "contact" , :locals => { :f => f } %>


</td>
<td>
<%= render :partial => "personal_details" , :locals => { :f => f } %>
<%= render :partial => "substance_usage" , :locals => { :f => f } %>

</td>
</tr>
<tr>
<td colspan=2>

<%= render ( :partial => "terms" , :locals => { :f => f }) if ! current_user.profile.terms_agreed %>


</td>
</tr>
</table>

