
<fieldset><legend>Women's concerns.</legend>
  <p>
    <%= f.label :is_pregnant %><!-- was a br -->
    <%= f.check_box :is_pregnant %>    If Pregnant: 
    <%= f.label :conception_on %><!-- was a br -->
    <%= f.date_select :conception_on%>
  </p>
  <p>
    <%= f.label :menopause %><!-- was a br -->
    <%= f.check_box :is_menopause %>
  </p>
    <p>

  </p>
</fieldset>
  
