<h2><%= link_to 'Go to your WellnessBoard', home_path %></h2><br>
<%= link_to 'Edit Your Profile Details', edit_profile_path %> 

<br />
<br />

<table>
<tr>
<td>

<%= render :partial => "required_view"  %>
<%= render :partial => "address_view"  %>
<%= render :partial => "ethnicity_view"   %>
</td>
<td>
<%= render :partial => "contact_view"   %>
<% #= render :partial => "womens_concerns_view"  if @profile.sex == "female" %>
<%= render :partial => "personal_details_view"   %>
</td>
<td>

<%= render :partial => "substance_usage_view"   %>
<%= render :partial => "emergency_contact_view"   %>

</td>
</td>
</table>

