<h1>Illness Journal</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Has</th>
    <th>Controlled</th>
    <th>At risk</th>
    <th>In family history</th>
    <th>Concerned about</th>
    <th>Comment</th>
  </tr>

<% for illness_history in @illness_histories %>
  <tr>
    <td><%=h illness_history.title %></td>
    <td><%=h illness_history.has %></td>
    <td><%=h illness_history.controlled %></td>
    <td><%=h illness_history.at_risk %></td>
    <td><%=h illness_history.in_family_history %></td>
    <td><%=h illness_history.concerned_about %></td>
    <td><%=h illness_history.comment %></td>
    <td><%= link_to 'Edit', edit_illness_history_path(illness_history) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New illness_history', new_illness_history_path %>
