<h1>New Illness Entry</h1>

<% form_for(@illness_history) do |f| %>
  <%= f.error_messages %>

<table><tr>
   <th><%= f.label :measured_on %></th> 
   <th><%= f.label :title %></th>
   <th><%= f.label :has %></th>
   <th><%= f.label :controlled %></th>
   <th><%= f.label :at_risk %></th>
   <th><%= f.label 'Family history' %></th>
   <th><%= f.label :comment %></th> 
 </tr><tr>
 <td>
 <%= calendar_box :illness_history, :measured_on,
       { :class => 'date',
         :date => Time.zone.now,
         :field_title => 'Measured on',
         :button_title => 'Show calendar' ,
         :value => Time.zone.now },
       { :firstDay => 1,
         :range => [1900, 2020],
         :step => 1,
         :showsTime => 1,
         :showOthers => false,
         :cache => true } %></td>
 <td><%= f.text_field :title  , :size => 10 %></td>
 <td><%= f.check_box :has %></td>
 <td><%= f.check_box :controlled %></td>
 <td><%= f.check_box :at_risk %></td>
 <td><%= f.check_box :in_family_history %></td>
 <td><%= f.text_field :comment, :size => 10 %></td>
</tr> 
  </table>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', illness_histories_path %>
