<table>
<tr>
<th><%= f.label :title %></th>
<th><%= f.label :day %></th>
<th><%= f.label :start_time %></th>
<th><%= f.label :end_time %></th>
<th><%= f.label :supplements %></th>
<th><%= f.label :comment %></th>
</tr><tr>

<td><%= f.text_field :title %></td>
<td><%= f.date_select :day %></td>
<td><%= f.time_select :start_time %></td>
<td><%= f.time_select :end_time %></td>
<td><%= f.text_field :supplements %></td>
<td><%= f.text_field :comment %></td>
</tr></table>
