<p></p>

<table>
<tr>
<th>Title:</th>
<th>Day:</th>
<th>Start time:</th>
<th>End time:</th>
<th>Comment:</th>
<th>Supplements:</th>
</tr>
<tr>
<td><%=h @workout.title %></td>
<td><%=h @workout.day %></td>
<td><%=h @workout.start_time %></td>
<td><%=h @workout.end_time %></td>
<td><%=h @workout.supplements %></td>
<td><%=h @workout.comment %></td>
</tr>
</table>
<br/>
<%= render :partial =>"/exercises/index" %>

<br/>
<%= render :partial => "new_inline_ex" %>


