
<h3>Medical Event Timeline Repository</h3>

<%= make_table_styled %><br/>

<br />

<hr/>
<h3>Medical History</h3>

<table>
  <tr>
    <th>Approx date</th>
    <th>Hospital</th>
    <th>Problem</th>
    <th>Treatment</th>
    <th>Doctor</th>
    <th>City</th>
    <th>State</th>
    <th>Dr phone</th>
    <th>Required hospitalization</th>
  </tr>

<% for medical_history in @medical_histories %>
  <tr>
    <td><%=h medical_history.approx_date %></td>
    <td><%=h medical_history.hospital %></td>
    <td><%=h medical_history.problem %></td>
    <td><%=h medical_history.treatment %></td>
    <td><%=h medical_history.doctor %></td>
    <td><%=h medical_history.city %></td>
    <td><%=h medical_history.state %></td>
    <td><%=h medical_history.dr_phone %></td>
    <td><%=h medical_history.required_hospitalization %></td>
    <td><%= link_to 'Show', medical_history %></td>
    <td><%= link_to 'Edit', edit_medical_history_path(medical_history) %></td>
    <td><%= link_to 'Destroy', medical_history, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New Medical History Event', new_medical_history_path %>
<br/>

<hr/>
<h3>Illness Journal</h3>
<table>
  <tr>
    <th>Title</th>
    <th>Has</th>
    <th>Controlled</th>
    <th>At risk</th>
    <th>In family history</th>
    <th>Concerned about</th>
    <th>Measured On</th>
    <th>Comment</th>
  </tr>

<% for illness_history in @illness %>
  <tr>
    <td><%=h illness_history.title %></td>
    <td><%=h illness_history.has %></td>
    <td><%=h illness_history.controlled %></td>
    <td><%=h illness_history.at_risk %></td>
    <td><%=h illness_history.in_family_history %></td>
    <td><%=h illness_history.concerned_about %></td>
    <td><%=h illness_history.measured_on %></td>
    <td><%=h illness_history.comment %></td>
    <td><%= link_to 'Edit', edit_illness_history_path(illness_history) %></td>
  </tr>
<% end %>
</table>

<br/>
<%= link_to 'New Illness History Condition', new_illness_history_path %>
