
<h3>Medical Event Timeline Repository</h3>

<%= make_table_styled %><br/>

<br />

<hr/>
<h3>Medical History</h3>

<table>
  <tr>
    <th>Approx date</th>
    <th>Hospital</th>
    <th>Problem</th>
    <th>Treatment</th>
    <th>Doctor</th>
    <th>City</th>
    <th>State</th>
    <th>Dr phone</th>
    <th>Required hospitalization</th>
  </tr>

<% for medical_history in @medical_histories %>
  <tr>
    <td><%=h medical_history.approx_date.strftime("%d %b '%y") %></td>
    <td><%=h medical_history.hospital %></td>
    <td><%=h medical_history.problem %></td>
    <td><%=h medical_history.treatment %></td>
    <td><%=h medical_history.doctor %></td>
    <td><%=h medical_history.city %></td>
    <td><%=h medical_history.state %></td>
    <td><%=h medical_history.dr_phone %></td>
    <td><%=h medical_history.required_hospitalization %></td>
    <td><%= link_to 'Edit', edit_medical_history_path(medical_history) %></td>
    <td><%= link_to 'Delete', medical_history, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New Medical History Event', new_medical_history_path %>
<br/>

<hr/>
<h3>Illness Journal</h3>
<table>
  <tr>
    <th>Title</th>
    <th>Has</th>
    <th>Controlled</th>
    <th>At risk</th>
    <th>In family history</th>
    <th>Concerned about</th>
    <th>Measured On</th>
    <th>Comment</th>
  </tr>

<% for illness_history in @illness %>
  <tr>
    <td><%=h illness_history.title %></td>
    <td><%=h illness_history.has %></td>
    <td><%=h illness_history.controlled %></td>
    <td><%=h illness_history.at_risk %></td>
    <td><%=h illness_history.in_family_history %></td>
    <td><%=h illness_history.concerned_about %></td>
    <td><%=h illness_history.measured_on.strftime("%d %b '%y %H:%M") %></td>
    <td><%=h illness_history.comment %></td>
    <td><%= link_to 'Edit', edit_illness_history_path(illness_history) %></td>
  </tr>
<% end %>
</table>

<br/>
<%= link_to 'New Illness History Condition', new_illness_history_path %>


<hr>

<br/>
<h3>Medications</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Strength</th>
    <th>Prescribed start</th>
    <th>Prescribed end</th>
    <th>Actual start</th>
    <th>Actual stop</th>
    <th>Dosage</th>
    <th>Purpose</th>
    <th>Result</th>
    <th>Comment</th>
  </tr>

<% for medication in @medications %>
  <tr>
    <td><%=h medication.name %></td>
    <td><%=h medication.strength %><%=h medication.unit_type %></td>
    <td><%=h medication.prescribed_start.strftime("%d %b '%y") %></td>
    <td><%=h medication.prescribed_end.strftime("%d %b '%y") %></td>
    <td><%=h medication.actual_start.strftime("%d %b '%y") %></td>
    <td><%=h medication.actual_stop.strftime("%d %b '%y") %></td>
    <td><%=h medication.dosage %>-<%=h medication.dosage_unit %></td>
    <td><%=h medication.purpose %></td>
    <td><%=h medication.result %></td>
    <td><%=h medication.comment %></td>
    <td><%= link_to 'Edit', edit_medication_path(medication) %></td>
    <td><%= link_to 'Delete', medication, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New medication', new_medication_path %>
