
<h3>Medical Event Timeline Repository</h3>
<% begin %>
<%= make_table_styled %><br/>
<% rescue %>
<% end %>
<br />


<hr/>
<h3>Conditions</h3>
<table>
  <tr>
    <th>Condition</th>
    <th>Has</th>
    <th>Controlled</th>
    <th>At risk</th>
    <th>Family history</th>
    <th>Concerned about</th>
    <th>Measured On</th>
    <th>Comment</th>
  </tr>

<% for illness_history in @illness %>
  <tr>
    <td><%=h illness_history.title %></td>
    <td><%=h illness_history.has %></td>
    <td><%=h illness_history.controlled %></td>
    <td><%=h illness_history.at_risk %></td>
    <td><%=h illness_history.in_family_history %></td>
    <td><%=h illness_history.concerned_about %></td>
    <td><%=h illness_history.measured_on.strftime("%d %b '%y %H:%M") %></td>
    <td><%=h illness_history.comment %></td>
    <td><%= link_to 'Edit', edit_illness_history_path(illness_history) %></td>
  </tr>
<% end %>
</table>

<br/>
<%= link_to 'New Condition', new_illness_history_path %>

<hr/>
<h3>Procedure</h3>

<table>
  <tr>
    <th>Approx date</th>
    <th>Facility</th>
    <th>Condition</th>
    <th>Treatment</th>
    <th>Doctor</th>
    <th>City</th>
    <th>State</th>
    <th>Dr phone</th>
    <th>InPatient</th>
  </tr>

<% for medical_history in @medical_histories %>
  <tr>
    <td><%=h medical_history.approx_date.strftime("%d %b '%y") %></td>
    <td><%=h medical_history.hospital %></td>
    <td><%=h medical_history.problem %></td>
    <td><%=h medical_history.treatment %></td>
    <td><%=h medical_history.doctor %></td>
    <td><%=h medical_history.city %></td>
    <td><%=h medical_history.state %></td>
    <td><%=h medical_history.dr_phone %></td>
    <td><%=h medical_history.required_hospitalization %></td>
    <td><%= link_to 'Edit', edit_medical_history_path(medical_history) %></td>
    <td><%= link_to 'Delete', medical_history, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New Procedure', new_medical_history_path %>
<br/>

<hr>

<br/>
<h3>Prescriptions</h3>

<table>
  <tr>
    <th>Medication</th>
    <th>Dosage</th>
    <th>Prescribed start</th>
    <th>Prescribed end</th>
    <th>Actual start</th>
    <th>Actual stop</th>
    <th>Usage</th>
    <th>Objective</th>
    <th>Result</th>
    <th>Comment</th>
  </tr>

<% for medication in @medications %>
  <tr>
    <td><%=h medication.name %></td>
    <td><%=h medication.strength %><%=h medication.unit_type %></td>
    <td><%=h medication.prescribed_start.strftime("%d %b '%y") unless medication.prescribed_start.nil?  %></td>
    <td><%=h medication.prescribed_end.strftime("%d %b '%y")  unless medication.prescribed_end.nil? %></td>
    <td><%=h medication.actual_start.strftime("%d %b '%y")  unless medication.actual_start.nil? %></td>
    <td><%=h medication.actual_stop.strftime("%d %b '%y")  unless medication.actual_stop.nil? %></td>
    <td><%=h medication.dosage %>-<%=h medication.dosage_unit %></td>
    <td><%=h medication.purpose %></td>
    <td><%=h medication.result %></td>
    <td><%=h medication.comment %></td>
    <td><%= link_to 'Edit', edit_medication_path(medication) %></td>
    <td><%= link_to 'Delete', medication, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prescription', new_medication_path %>
