<h1>New medical history record</h1>

<% form_for(@medical_history) do |f| %>

  <%= f.error_messages %>
 
<table><tr>
<th><%= f.label :approx_date %></th>
<th><%= f.label :hospital %></th>
<th><%= f.label :problem %></th>
<th><%= f.label :treatment %></th>
<th><%= f.label :doctor %></th>
<th><%= f.label :city %></th>
<th><%= f.label :state %></th>
<th><%= f.label :dr_phone %></th>
<th><%= f.label :required_hospitalization %></th>
</tr></tr>
<td><%#= f.date_select :approx_date %>
<%= calendar_box :medical_history, :approx_date,
       { :class => 'date',
         :date => Time.zone.now,
         :field_title => 'Measured on',
         :button_title => 'Show calendar' ,
         :value => Time.zone.now },
       { :firstDay => 1,
         :range => [1900, 2020],
         :step => 1,
         :showsTime => 1,
         :showOthers => false,
         :cache => true } %>
</td>
<td><%= f.text_field :hospital %></td>
<td><%= f.text_field :problem %></td>
<td><%= f.text_field :treatment %></td>
<td><%= f.text_field :doctor %></td>
<td><%= f.text_field :city %></td>
<td><%= f.text_field :state %></td>
<td><%= f.text_field :dr_phone %></td>
<td><%= f.check_box :required_hospitalization %></td>
</tr>
</table>

<%= f.submit "Create" %>
<% end %>

<%= link_to 'Back', medical_histories_path %>
