<h1>New medical history record</h1>

<% form_for(@medical_history) do |f| %>

  <%= f.error_messages %>
<table><tr>
<th><%= f.label :approx_date %></th>
<th><%= f.label :hospital %></th>
<th><%= f.label :problem %></th>
<th><%= f.label :treatment %></th>
<th><%= f.label :required_hospitalization %></th>
</tr></tr>
<td><%#= f.date_select :approx_date %>
<%= calendar_box :medical_history, :approx_date,
       { :class => 'date',
         :date => Time.zone.now,
         :field_title => 'Measured on',
         :button_title => 'Show calendar' ,
         :value => Time.zone.now },
       { :firstDay => 1,
         :range => [1900, 2020],
         :step => 1,
         :showsTime => 1,
         :showOthers => false,
         :cache => true } %>
</td>
<td><%= f.text_field :hospital, :size => 10%></td>
<td><%= f.text_field :problem, :size => 10%></td>
<td><%= f.text_field :treatment, :size =>10 %></td>

<td><%= f.check_box :required_hospitalization %></td>
</tr>
</table>

<table>
<th><%= f.label :doctor %></th>
<th><%= f.label :dr_phone %></th>
<th><%= f.label :city %></th>
<th><%= f.label :state %></th>
</tr><tr>
<td><%= f.text_field :doctor , :size => 10%></td>
<td><%= f.text_field :dr_phone, :size => 12 %></td>
<td><%= f.text_field :city , :size => 10 %></td>
<td><%= f.text_field :state, :size => 2 %></td>
</tr></table>


<%= f.submit "Create" %>
<% end %>

