<div class="menu">

<script type="text/javascript">$(document).ready(function()
{
	$('#admin_list').clickMenu();
});
</script>


<ul id="admin_list">
<li>ADMIN: </li>
<li><%= link_to 'Users', admin_users_path  %></li>
<li><%= link_to 'Support tickets', admin_supports_path %></li> 
<li>Reports
  <ul>
    <li>Some reports may take a few minutes.</li>
    <li><%= link_to 'Age & Sex', admin_reports_path(:what => "ages") %></li>
    <li><%= link_to 'Weight Goals', admin_reports_path(:what => "weight") %></li>
    <li><%= link_to 'BMI', admin_reports_path(:what => "bmi") %></li>
    <li><%= link_to 'ALL (May take a few min)', admin_reports_path(:what => "all") %></li>
  </ul>
</li>

<li><%= link_to 'Make sample Users', new_admin_sample_path %></li>
</ul>

</div>

