<ul class="menu">
 
 <%= '<li>' + link_to ('HOME', root_path)  + '</li>' -%> 
  <li><%= link_to 'Profile', profile_path %></li>  
  <%= '<li>' +link_to ('Member', member_reports_path(:what => "all")) + '</li>' unless (current_user.roles.find(:all, :conditions => ["has_role = ? OR has_role = ?", "MEMBER","SUPER MEMBER" ]) == []) -%>
  <%= '<li>' + link_to (:Admin, admin_users_path) + '</li>'  if current_user.admin == true -%>
  <li><%= link_to 'Support', new_support_path(:ref_page => request.url) -%></li>
  <li class="last"><%= link_to 'LOGOUT', logout_path -%></li>
</ul>




