<div class="menu">

<script type="text/javascript">$(document).ready(function()
{
	$('#member_list').clickMenu();
});
</script>


<ul id="member_list">
<li>Member: </li>
<li><%= link_to 'Users', member_users_path  %></li>
<li><%= link_to 'Support tickets', member_supports_path %></li> 
<li>Reports
  <ul>
    <li>Some reports may take a few minutes.</li>
    <li><%= link_to 'Ages', member_reports_path(:what => "ages") %></li>
    <li><%= link_to 'Weight Goals', member_reports_path(:what => "weight") %></li>
    <li><%= link_to 'BMI', member_reports_path(:what => "bmi") %></li>
    <li><%= link_to 'ALL (May take a few min)', member_reports_path(:what => "all") %></li>
  </ul>
</li>
</ul>

</div>

