<ul class="menu">
     <li><%= link_to 'Home', root_path  %></li>  
     <li><%= link_to 'Sleep', sleeps_path  %></li> 
     <li><%= link_to 'Blood Pressure', bps_path  %></li>  
     <li><%= link_to 'Food List', foods_path %></li>  
     <li><%= link_to 'Measurements', measurements_path  %></li>
     <li><%= link_to 'Workouts', workouts_path %></li>
     <li><a href="http://lifesthread.com/index.php?option=com_content&view=section&id=16&Itemid=50">FIBERs</a></li> 
</ul>

