<ul class="menu">
     <li><%= link_to 'Home', root_path  %></li> 
     <li><%= link_to 'View Combined Charts', charts_path %></li> 
     <li><%= link_to 'Sleep', sleeps_path  %></li> 
     <li><%= link_to 'Blood Pressure', bps_path  %></li>  
     <li><%= link_to 'Food List', foods_path %></li>  
     <li><%= link_to 'Measurements', measurements_path  %></li>
     <li><%= link_to 'Workouts', workouts_path %></li> 
</ul>

