<h1>sTressor</h1>

<table>
  
  <tr><th>Category</th><td><%=h @stress.category %></td><th><%= link_to 'Edit Description', edit_stress_path(@stress) %></th></tr>
    
  <tr><th>Title</th><td><%=h @stress.title %></td></tr>
  <tr><th>First acknowledged</th><td><%=h @stress.first_acknowledged %></td></tr>

</table>
<br/>


<h3>New Detail</h3>
<% form_for([@stress, @stress_log]) do |f| %>
  <%= f.error_messages %>

<table>
<tr><th><%= f.label "Measured on" %></th>
<th><%= f.label :event %></th>
<th><%= f.label :description %></th>
<th><%= f.label :action_taken %></th>
<th><%= f.label :effect_on_life %>(0-100)</th>
<th><%= f.label :perceivable_progress %>(0-100)</th>
</tr><tr>
<td><%# = f.datetime_select :measured_on %>
    <%= calendar_box 'stress_log', 'measured_on',
       { :class => 'date',
         :date => Time.zone.now,
         :field_title => 'Measured on',
         :button_title => 'Show calendar' ,
         :value => Time.zone.now },
       { :firstDay => 1,
         :range => [1900, 2015],
         :step => 1,
         :showsTime => 1,
         :showOthers => true,
         :cache => true } %>
</td><td>
    <%= f.text_field :event, :size => 6 %>
</td><td>
    <%= f.text_field :description, :size => 8 %>
</td><td>
    <%= f.text_field :action_taken, :size => 8 %>
</td><td>
    <%= f.text_field :effect_on_life, :size => 3 %>
</td><td>
    <%= f.text_field :perceivable_progress, :size => 3 %>
</td></tr>
</table>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>


<br />
<h3>Details</h3>
<table>
  <tr>
    <th>Measured on</th>
    <th>Event</th>
    <th>Description</th>
    <th>Action taken</th>
    <th>Effect on life</th>
    <th>Perceivable progress</th>
  </tr>

<% for stress_log in  @stress_logs %>
  <tr>
    <td><%=h stress_log.measured_on %></td>
    <td><%=h stress_log.event %></td>
    <td><%=h stress_log.description %></td>
    <td><%=h stress_log.action_taken %></td>
    <td><%=h stress_log.effect_on_life %></td>
    <td><%=h stress_log.perceivable_progress %></td>
    <td><%= link_to 'Edit', [:edit, @stress,stress_log] %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Show sTressors', stresses_path %>

