<h1>New sTress log entry</h1>

<% form_for([@stress, @stress_log]) do |f| %>
  <%= f.error_messages %>

<table>
<tr><td>
    <%= f.label "Measured on" %>
    <%# = f.datetime_select :measured_on %>
    <%= calendar_box 'stress_log', 'measured_on',
       { :class => 'date',
         :date => Time.zone.now,
         :field_title => 'Measured on',
         :button_title => 'Show calendar' ,
         :value => Time.zone.now },
       { :firstDay => 1,
         :range => [1900, 2015],
         :step => 1,
         :showsTime => 1,
         :showOthers => true,
         :cache => true } %>
</td></tr>
<tr><td>
    <%= f.label :event %><br/>
    <%= f.text_field :event %>
</td></tr>
<tr><td>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
</td></tr>
<tr><td>
    <%= f.label :action_taken %><br />
    <%= f.text_field :action_taken %>
</td></tr>
<tr><td>
    <%= f.label :effect_on_life %><br />
    <%= f.text_field :effect_on_life %>
</td></tr>
<tr><td>
    <%= f.label :perceivable_progress %><br />
    <%= f.text_field :perceivable_progress %>
</td></tr>
</table>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', stress_stress_logs_path(@stress) %>
