<h1>Listing pharmacy_events</h1>

<table>
  <tr>
    <th>Sponsor</th>
    <th>Start display</th>
    <th>Stop display</th>
    <th>Event date</th>
    <th>Title</th>
    <th>Location</th>
    <th>Description</th>
  </tr>

<% for pharmacy_event in @pharmacy_events %>
  <tr>
    <td><%=h pharmacy_events.sponsor %></td>
    <td><%=h pharmacy_events.start_display %></td>
    <td><%=h pharmacy_events.stop_display %></td>
    <td><%=h pharmacy_events.event_date %></td>
    <td><%=h pharmacy_events.title %></td>
    <td><%=h pharmacy_events.location %></td>
    <td><%=h pharmacy_events.description %></td>
    <td><%= link_to 'Show', admin_pharmacy_events(pharmacy_event) %></td>
    <td><%= link_to 'Edit', edit_admin_pharmacy_events_path(pharmacy_event) %></td>
    <td><%= link_to 'Destroy',[:admin,  pharmacy_events] , :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pharmacy_events', new_pharmacy_events_path %>
