<h1>New Prescription</h1>


<% form_for(@medication) do |f| %>
  <%= f.error_messages %>

  <table>
  <tr>
  <th><%= f.label :name %></th>  
  <th><%= f.label :strength %></th>
  <th><%= f.label :dosage %></th>
  <th><%= f.label "Frequency" %></th>
  <th><%= f.label :purpose %></th>
  <th><%= f.label :result %></th>
  <th><%= f.label :comment %></th>  

 </tr><tr>
    
     
  <td><%= f.text_field :name , :size => 6 %></td>
  <td><%= f.text_field :strength  , :size => 3%><%= f.select :unit_type, ["mg", "gm", "gr", "cc", "gtt", "ml", "oz", "tsp", "Tbs", "other"],:size => 5 %></td>
  
 


  <td><%= f.text_field :dosage , :size => 3 %></td>
  <td><%= f.text_field :dosage_unit , :size => 4 %></td>
  <td><%= f.text_field :purpose  , :size => 6  %></td>
  <td><%= f.text_field :result , :size => 6  %></td>
  <td><%= f.text_field :comment , :size => 6  %></td>
  </tr>
  </table>
  <table>
  <tr><th><%= f.label :prescribed_start %></th><td>
        <%= calendar_box 'medication', 'prescribed_start',
       { :class => 'date',
         :date => Date.current,
         :field_title => 'Start',
         :button_title => 'Show calendar' ,
         :value => Date.current,
         :size => 8 },
       { :firstDay => 1,
         :range => [1900, 2015],
         :step => 1,
 
    
         :cache => true } %></td>
         
     <th><%= f.label :prescribed_end %></th> <td>
            <%= calendar_box 'medication', 'prescribed_end',
       { :class => 'date',
         :date => Date.current,
         :field_title => '',
         :button_title => 'Show calendar' ,
         :value => Date.current,
         :size => 8 },
       { :firstDay => 1,
         :range => [1900, 2015],
         :step => 1,
         :showsTime => 0,
         :showOthers => true,
         :cache => true } %></td>
         
  </tr><tr><th><%= f.label :actual_start %></th>  <td><%# = f.date_select :prescribed_end %>
            <%= calendar_box 'medication', 'actual_start',
       { :class => 'date',
         :date => Date.current,
         :field_title => 'Stop',
         :button_title => 'Show calendar' ,
         :value => Date.current,
         :size => 8 },
       { :firstDay => 1,
         :range => [1900, 2015],
         :step => 1,
         :showsTime => 0,
         :showOthers => true,
         :cache => true } %>
    </td>
  <th><%= f.label :actual_stop %></th><td>
            <%= calendar_box 'medication', 'actual_stop',
       { :class => 'date',
         :date => Date.current,
         :field_title => '',
         :button_title => 'Show calendar' ,
         :value => Date.current, :size => 8 },
       { :firstDay => 1,
         :range => [1900, 2015],
         :step => 1,
         :showsTime => 0,
         :showOthers => true,
         :cache => true } %>
    </td></tr>
  
 
  
  
  </table>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%# = link_to 'Back', medications_path %>
