<div class="dataEntry left center" >
<%# data entry fields %>
<%# "img from http://www.famfamfam.com/lab/icons/silk/" %>
<img class="dataEntry" src="/images/data_entry.gif" width='70' />
<h2>Data</h2>
<h2>Entry</h2>
<ul class="noStyle">
<li><%= link_to 'Blood Pressure', bps_path( :view => "dataentry") %> </li>
<li><%= link_to 'Cholesterol', cholesterols_path( :view => "dataentry") %> </li>
<li><%= link_to 'Food', foods_path( :view => "dataentry") %> </li>
<li><%= link_to 'Illness History', new_illness_history_path %></li>
<li><%= link_to 'Measurements', measurements_path( :view => "dataentry") %></li>
<li><%= link_to 'Medical History', new_medical_history_path %></li>
<li><%= link_to 'Prescription', new_medication_path %></li>
<li><%= link_to 'Sleep', sleeps_path( :view => "dataentry") %> </li>
<li><%= link_to 'sTressor', stresses_path( :view => "dataentry") %> </li>
<li><%= link_to "Quick Entry" , root_path( :view => "dataentryboard") %> </li>
</ul>
</div>

<div class="viewCharts right center">
<%# Chart views %>
<img class="viewCharts" src="/images/charts_coffee.jpg" width='90' />
<h2>Progress </h2>
<h2>Reports</h2>
<ul class="noStyle">
<li><%= link_to 'Blood Pressure', bps_path %> </li>
<li><%= link_to 'Cholesterol', cholesterols_path %> </li>
<li><%= link_to 'Food', foods_path %></li>
<li><%= link_to 'Measurements', measurements_path %></li>
<li><%= link_to 'Medical History Repository', medical_histories_path   %></li>
<li><%= link_to 'Sleep', sleeps_path %> </li>
<li><%= link_to 'sTressor', stresses_path %> </li>
<li><%= link_to 'Combined Reports', charts_path %></li>
</ul>
</div>
