<% content_for :navigation do%>
  <%= render :partial => "/layouts/linktos" %>
<% end %>


<!-- home/index.rhtml -->


<% if logged_in? %>

  <% content_for :header do%>
    Your LifesThread today: <img src="/images/imglifesthread.jpg" />
    <p><strong>Welcome to your WellnessBoard <%=h current_user.first_name -%></strong> <%= link_to 'Logout', logout_path %></p>
  <% end %>

  <%= render :partial => "dashboard" %>

<% else %>

  <% content_for :header do%>
    <h1>Welcome</h1>
    <p><strong>Please log in.</strong></p>
  <% end %>

  <p>
  <%= render :partial => "sessions/contents" %><br />
    <%= link_to 'Sign Up', signup_path %>
  </p>


<% end %>


