
<div class="floatLeft">
Vitals<br/>
<table class="options">
<tr><th></th><th>Show</th><th>Show Average</th><th>Show Goal</th></tr>
<tr>
<td>Blood Pressure</td>
<td><%= check_box_tag 'chartoptions[bp][a]' , true, @chartoptions[:bp][0] %></td>
<td><%= check_box_tag 'chartoptions[bp][b]' , true, @chartoptions[:bp][1] %></td>
<td><%= check_box_tag 'chartoptions[bp][c]' , true, @chartoptions[:bp][2] %></td>
</td>

<tr>
<td>Sleep</td>
<td><%= check_box_tag 'chartoptions[sleep][a]' , true, @chartoptions[:sleep][0] %></td>
<td><%= check_box_tag 'chartoptions[sleep][b]' , true, @chartoptions[:sleep][1] %></td>
<td><%= check_box_tag 'chartoptions[sleep][c]' , true, @chartoptions[:sleep][2] %></td>
</td>

<tr>
<td>sTressors</td>
<td><%= check_box_tag 'chartoptions[stress][a]' , true, @chartoptions[:stress][0] %></td>
<td><%= check_box_tag 'chartoptions[stress][b]' , true, @chartoptions[:stress][1] %></td>
<td><%= check_box_tag 'chartoptions[stress][c]' , true, @chartoptions[:stress][2] %></td>
</td>

<tr>
<td>Cholesterol</td>
<td><%= check_box_tag 'chartoptions[cholesterol][a]' , true, @chartoptions[:cholesterol][0] %></td>
<td><%= check_box_tag 'chartoptions[cholesterol][b]' , true, @chartoptions[:cholesterol][1] %></td>
<td><%= check_box_tag 'chartoptions[cholesterol][c]' , true, @chartoptions[:cholesterol][2] %></td>
</td>

<tr>
<td>Cholesterol LDL</td>
<td><%= check_box_tag 'chartoptions[chol_ldl][a]' , true, @chartoptions[:chol_ldl][0] %></td>
<td><%= check_box_tag 'chartoptions[chol_ldl][b]' , true, @chartoptions[:chol_ldl][1] %></td>
<td><%= check_box_tag 'chartoptions[chol_ldl][c]' , true, @chartoptions[:chol_ldl][2] %></td>
</td>

<tr>
<td>Cholesterol HDL</td>
<td><%= check_box_tag 'chartoptions[chol_hdl][a]' , true, @chartoptions[:chol_hdl][0] %></td>
<td><%= check_box_tag 'chartoptions[chol_hdl][b]' , true, @chartoptions[:chol_hdl][1] %></td>
<td><%= check_box_tag 'chartoptions[chol_hdl][c]' , true, @chartoptions[:chol_hdl][2] %></td>
</td>

</table>
</div>





<div class="floatLeft">
Body Measurements
<table class="options">
<tr><th></th><th>Show</th><th>Show Average</th><th>Show Goal</th></tr>


<tr>
<td>All Body Measurements</td>
<td><%= check_box_tag 'chartoptions[measurements][a]' , true, @chartoptions[:measurements][0] %></td>
<td><%= check_box_tag 'chartoptions[measurements][b]' , true, @chartoptions[:measurements][1] %></td>
<td><%= check_box_tag 'chartoptions[measurements][c]' , true, @chartoptions[:measurements][2] %></td>
</td>


<tr>
<td>Weight</td>
<td><%= check_box_tag 'chartoptions[measurement_weight][a]' , true, @chartoptions[:measurement_weight][0] %></td>
<td><%= check_box_tag 'chartoptions[measurement_weight][b]' , true, @chartoptions[:measurement_weight][1] %></td>
<td><%= check_box_tag 'chartoptions[measurement_weight][c]' , true, @chartoptions[:measurement_weight][2] %></td>
</td>


<tr>
<td>Resting Metabolism</td>
<td><%= check_box_tag 'chartoptions[measurement_resting_metabolism][a]' , true, @chartoptions[:measurement_resting_metabolism][0] %></td>
<td><%= check_box_tag 'chartoptions[measurement_resting_metabolism][b]' , true, @chartoptions[:measurement_resting_metabolism][1] %></td>
<td><%= check_box_tag 'chartoptions[measurement_resting_metabolism][c]' , true, @chartoptions[:measurement_resting_metabolism][2] %></td>
</td>

<tr>
<td>Fat %</td>
<td><%= check_box_tag 'chartoptions[measurement_fat_percent][a]' , true, @chartoptions[:measurement_fat_percent][0] %></td>
<td><%= check_box_tag 'chartoptions[measurement_fat_percent][b]' , true, @chartoptions[:measurement_fat_percent][1] %></td>
<td><%= check_box_tag 'chartoptions[measurement_fat_percent][c]' , true, @chartoptions[:measurement_fat_percent][2] %></td>
</td>

<tr>
<td>Muscle %</td>
<td><%= check_box_tag 'chartoptions[measurement_muscle_percent][a]' , true, @chartoptions[:measurement_muscle_percent][0] %></td>
<td><%= check_box_tag 'chartoptions[measurement_muscle_percent][b]' , true, @chartoptions[:measurement_muscle_percent][1] %></td>
<td><%= check_box_tag 'chartoptions[measurement_muscle_percent][c]' , true, @chartoptions[:measurement_muscle_percent][2] %></td>
</td>

<tr>
<td>Visceral Fat %</td>
<td><%= check_box_tag 'chartoptions[measurement_visceral_fat][a]' , true, @chartoptions[:measurement_visceral_fat][0] %></td>
<td><%= check_box_tag 'chartoptions[measurement_visceral_fat][b]' , true, @chartoptions[:measurement_visceral_fat][1] %></td>
<td><%= check_box_tag 'chartoptions[measurement_visceral_fat][c]' , true, @chartoptions[:measurement_visceral_fat][2] %></td>
</td>

<tr>
<td>Water %</td>
<td><%= check_box_tag 'chartoptions[measurement_water_percent][a]' , true, @chartoptions[:measurement_water_percent][0] %></td>
<td><%= check_box_tag 'chartoptions[measurement_water_percent][b]' , true, @chartoptions[:measurement_water_percent][1] %></td>
<td><%= check_box_tag 'chartoptions[measurement_water_percent][c]' , true, @chartoptions[:measurement_water_percent][2] %></td>
</td>

<tr>
<td>Chest</td>
<td><%= check_box_tag 'chartoptions[measurement_chest][a]' , true, @chartoptions[:measurement_chest][0] %></td>
<td><%= check_box_tag 'chartoptions[measurement_chest][b]' , true, @chartoptions[:measurement_chest][1] %></td>
<td><%= check_box_tag 'chartoptions[measurement_chest][c]' , true, @chartoptions[:measurement_chest][2] %></td>
</td>

<tr>
<td>Bicep</td>
<td><%= check_box_tag 'chartoptions[measurement_bicep][a]' , true, @chartoptions[:measurement_bicep][0] %></td>
<td><%= check_box_tag 'chartoptions[measurement_bicep][b]' , true, @chartoptions[:measurement_bicep][1] %></td>
<td><%= check_box_tag 'chartoptions[measurement_bicep][c]' , true, @chartoptions[:measurement_bicep][2] %></td>
</td>

<tr>
<td>Belly</td>
<td><%= check_box_tag 'chartoptions[measurement_belly][a]' , true, @chartoptions[:measurement_belly][0] %></td>
<td><%= check_box_tag 'chartoptions[measurement_belly][b]' , true, @chartoptions[:measurement_belly][1] %></td>
<td><%= check_box_tag 'chartoptions[measurement_belly][c]' , true, @chartoptions[:measurement_belly][2] %></td>
</td>

<tr>
<td>Hip</td>
<td><%= check_box_tag 'chartoptions[measurement_hip][a]' , true, @chartoptions[:measurement_hip][0] %></td>
<td><%= check_box_tag 'chartoptions[measurement_hip][b]' , true, @chartoptions[:measurement_hip][1] %></td>
<td><%= check_box_tag 'chartoptions[measurement_hip][c]' , true, @chartoptions[:measurement_hip][2] %></td>
</td>

<tr>
<td>Thigh</td>
<td><%= check_box_tag 'chartoptions[measurement_thigh][a]' , true, @chartoptions[:measurement_thigh][0] %></td>
<td><%= check_box_tag 'chartoptions[measurement_thigh][b]' , true, @chartoptions[:measurement_thigh][1] %></td>
<td><%= check_box_tag 'chartoptions[measurement_thigh][c]' , true, @chartoptions[:measurement_thigh][2] %></td>
</td>

<tr>
<td>Calf</td>
<td><%= check_box_tag 'chartoptions[measurement_calf][a]' , true, @chartoptions[:measurement_calf][0] %></td>
<td><%= check_box_tag 'chartoptions[measurement_calf][b]' , true, @chartoptions[:measurement_calf][1] %></td>
<td><%= check_box_tag 'chartoptions[measurement_calf][c]' , true, @chartoptions[:measurement_calf][2] %></td>
</td>

</table>
</div>
