
 Blood Pressure <br />
  <%= check_box_tag 'chartoptions_bp_a' ,  true, @chartoptions[:bp][0] %>  Show <br />
  <%= check_box_tag 'chartoptions_bp_b' ,  true, @chartoptions[:bp][1] %>  Average <br />
  <%= check_box_tag 'chartoptions_bp_c' ,  true, @chartoptions[:bp][2] %>  Goal <br /> 

  
  
  Cholesterol <br />
  <%= check_box_tag 'chartoptions_cholesterol_a' ,  true, @chartoptions[:cholesterol][0] %> Show  <br />
  <%= check_box_tag 'chartoptions_cholesterol_b' ,  true, @chartoptions[:cholesterol][1] %> Average <br />
  <%= check_box_tag 'chartoptions_cholesterol_c' ,  true, @chartoptions[:cholesterol][2] %> Goal <br />
  
  
<div class="make_hidden">
 Cholesterol LDL <br />
  <%= check_box_tag 'chartoptions_chol_ldl_a' ,  true, @chartoptions[:chol_ldl][0] %>  Show <br />
  <%= check_box_tag 'chartoptions_chol_ldl_b' ,  true, @chartoptions[:chol_ldl][1] %>  Average <br />
  <%= check_box_tag 'chartoptions_chol_ldl_c' ,  true, @chartoptions[:chol_ldl][2] %>  Goal <br />
  
 Cholesterol HDL <br />
  <%= check_box_tag 'chartoptions_chol_hdl_a' ,  true, @chartoptions[:chol_hdl][0] %>  Show <br />
  <%= check_box_tag 'chartoptions_chol_hdl_b' ,  true, @chartoptions[:chol_hdl][1] %>  Average <br />
  <%= check_box_tag 'chartoptions_chol_hdl_c' ,  true, @chartoptions[:chol_hdl][2] %>  Goal <br />

 
 
 Measurements <br />
  <%= check_box_tag 'chartoptions_measurements_a' ,  true, @chartoptions[:measurements][0] %>  Show <br />
  <%= check_box_tag 'chartoptions_measurements_b' ,  true, @chartoptions[:measurements][1] %>  Average <br />
  <%= check_box_tag 'chartoptions_measurements_c' ,  true, @chartoptions[:measurements][2] %>  Goal <br />
</div>

  
  Weight  <br />
  <%= check_box_tag 'chartoptions_measurement_weight_a' ,  true, @chartoptions[:measurement_weight][0] %>  Show  <br /> 
  <%= check_box_tag 'chartoptions_measurement_weight_b' ,  true, @chartoptions[:measurement_weight][1] %>  Average <br />
  <%= check_box_tag 'chartoptions_measurement_weight_c' ,  true, @chartoptions[:measurement_weight][2] %>  Goal <br />
  
  Resting Metabolism  <br />
  <%= check_box_tag 'chartoptions_measurement_resting_metabolism_a' ,  true, @chartoptions[:measurement_resting_metabolism][0] %>  Show  <br />
  <%= check_box_tag 'chartoptions_measurement_resting_metabolism_b' ,  true, @chartoptions[:measurement_resting_metabolism][1] %> Average <br />
  <%= check_box_tag 'chartoptions_measurement_resting_metabolism_c' ,  true, @chartoptions[:measurement_resting_metabolism][2] %> Goal Goal <br />
  
 Fat %  <br />
  <%= check_box_tag 'chartoptions_measurement_fat_percent_a' ,  true, @chartoptions[:measurement_fat_percent][0] %>  Show <br />
  <%= check_box_tag 'chartoptions_measurement_fat_percent_b' ,  true, @chartoptions[:measurement_fat_percent][1] %>  Average <br />
  <%= check_box_tag 'chartoptions_measurement_fat_percent_c' ,  true, @chartoptions[:measurement_fat_percent][2] %>  Goal <br />
  
 Muscle %  <br />
  <%= check_box_tag 'chartoptions_measurement_muscle_percent_a' , true, @chartoptions[:measurement_muscle_percent][0] %>  Show <br />
  <%= check_box_tag 'chartoptions_measurement_muscle_percent_b' , true, @chartoptions[:measurement_muscle_percent][1] %>  Average <br />
  <%= check_box_tag 'chartoptions_measurement_muscle_percent_c' , true, @chartoptions[:measurement_muscle_percent][2] %>  Goal <br />
  
 Visceral Fat %  <br />
  <%= check_box_tag 'chartoptions_measurement_visceral_fat_a' ,  true, @chartoptions[:measurement_visceral_fat][0] %>  Show <br />
  <%= check_box_tag 'chartoptions_measurement_visceral_fat_b' ,  true, @chartoptions[:measurement_visceral_fat][1] %>  Average <br />
  <%= check_box_tag 'chartoptions_measurement_visceral_fat_c' ,  true, @chartoptions[:measurement_visceral_fat][2] %>  Goal <br />
  
 Water %  <br />
  <%= check_box_tag 'chartoptions_measurement_water_percent_a' ,  true, @chartoptions[:measurement_water_percent][0] %>  Show <br />
  <%= check_box_tag 'chartoptions_measurement_water_percent_b' ,  true, @chartoptions[:measurement_water_percent][1] %>  Average <br />
  <%= check_box_tag 'chartoptions_measurement_water_percent_c' ,  true, @chartoptions[:measurement_water_percent][2] %>  Goal <br />
  
 Chest  <br />
  <%= check_box_tag 'chartoptions_measurement_chest_a' ,  true, @chartoptions[:measurement_chest][0] %>  Show <br />
  <%= check_box_tag 'chartoptions_measurement_chest_b' ,  true, @chartoptions[:measurement_chest][1] %>  Average <br />
  <%= check_box_tag 'chartoptions_measurement_chest_c' ,  true, @chartoptions[:measurement_chest][2] %>  Goal <br />
  
  Pectoral  <br />
  <%= check_box_tag 'chartoptions_measurement_pectoral_a' ,  true, @chartoptions[:measurement_pectoral][0] %>  Show <br />
  <%= check_box_tag 'chartoptions_measurement_pectoral_b' ,  true, @chartoptions[:measurement_pectoral][1] %>  Average <br />
  <%= check_box_tag 'chartoptions_measurement_pectoral_c' ,  true, @chartoptions[:measurement_pectoral][2] %>  Goal <br />
  
  Bicept Left  <br />
  <%= check_box_tag 'chartoptions_measurement_bicep_left_a' ,  true, @chartoptions[:measurement_bicep_left][0] %>  Show <br />
  <%= check_box_tag 'chartoptions_measurement_bicep_left_b' ,  true, @chartoptions[:measurement_bicep_left][1] %>  Average <br />
  <%= check_box_tag 'chartoptions_measurement_bicep_left_c' ,  true, @chartoptions[:measurement_bicep_left][2] %>  Goal <br />
  
  Bicept Right  <br />
  <%= check_box_tag 'chartoptions_measurement_bicep_right_a' ,  true, @chartoptions[:measurement_bicep_right][0] %>  Show <br />
  <%= check_box_tag 'chartoptions_measurement_bicep_right_b' ,  true, @chartoptions[:measurement_bicep_right][1] %>  Average <br />
  <%= check_box_tag 'chartoptions_measurement_bicep_right_c' ,  true, @chartoptions[:measurement_bicep_right][2] %>  Goal <br />
  
  Belly  <br />
  <%= check_box_tag 'chartoptions_measurement_belly_a' ,  true, @chartoptions[:measurement_belly][0] %>  Show <br />
  <%= check_box_tag 'chartoptions_measurement_belly_b' ,  true, @chartoptions[:measurement_belly][1] %>  Average <br />
  <%= check_box_tag 'chartoptions_measurement_belly_c' ,  true, @chartoptions[:measurement_belly][2] %>  Goal <br />
  
  Hip  <br />
  <%= check_box_tag 'chartoptions_measurement_hip_a' ,  true, @chartoptions[:measurement_hip][0] %>  Show <br />
  <%= check_box_tag 'chartoptions_measurement_hip_b' ,  true, @chartoptions[:measurement_hip][1] %>  Average <br />
  <%= check_box_tag 'chartoptions_measurement_hip_c' ,  true, @chartoptions[:measurement_hip][2] %>  Goal <br />
  
  Lower Hip  <br />
  <%= check_box_tag 'chartoptions_measurement_lower_hip_a' ,  true, @chartoptions[:measurement_lower_hip][0] %>  Show <br />
  <%= check_box_tag 'chartoptions_measurement_lower_hip_b' ,  true, @chartoptions[:measurement_lower_hip][1] %>  Average <br />
  <%= check_box_tag 'chartoptions_measurement_lower_hip_c' ,  true, @chartoptions[:measurement_lower_hip][2] %>  Goal <br />
  
  Thigh Left  <br />
  <%= check_box_tag 'chartoptions_measurement_thigh_left_a' ,  true, @chartoptions[:measurement_thigh_left][0] %>  Show <br />
  <%= check_box_tag 'chartoptions_measurement_thigh_left_b' ,  true, @chartoptions[:measurement_thigh_left][1] %>  Average <br />
  <%= check_box_tag 'chartoptions_measurement_thigh_left_c' ,  true, @chartoptions[:measurement_thigh_left][2] %>  Goal <br />
  
  Thigh Right  <br />
  <%= check_box_tag 'chartoptions_measurement_thigh_right_a' ,  true, @chartoptions[:measurement_thigh_right][0] %>  Show <br />
  <%= check_box_tag 'chartoptions_measurement_thigh_right_b' ,  true, @chartoptions[:measurement_thigh_right][1] %>  Average <br />
  <%= check_box_tag 'chartoptions_measurement_thigh_right_c' ,  true, @chartoptions[:measurement_thigh_right][2] %>  Goal <br />
  
 
