<p>
  <center><h1><%=h @sponsor.name %></h1></center>
</p>



<p>
 Location:<a href = "<%= @sponsor.location %>" target=new >Create Map</a>
</p>

<p>
  <%= @sponsor.template_header %>
</p>
<p>
  Website:<a href = "http://<%= @sponsor.webpage %>" target=new >http://<%= @sponsor.webpage %></a>
</p>


<p>
  <%= @sponsor.message %>
</p>

<p>
  <%= @sponsor.template_body %>
</p>



<h1>Events</h1>

<table>
  <tr>
    <th>Event date</th>
    <th>Title</th>
    <th>Location</th>
    <th>Description</th>
  </tr>

<% for pharmacy_event in @events %>
  <tr>
    <td><%=h pharmacy_event.event_date.to_date.to_s(:long) %></td>
    <td><%=h pharmacy_event.title %></td>
    <td><%=h pharmacy_event.location %></td>
    <td><%=h pharmacy_event.description %></td>
</td>
  </tr>
<% end %>
</table >

<hr />

<h1>Notices</h1>

<table>
<% for pharmacy_notice in @pharmacy_notices %>
  <tr>
    <th><%=h pharmacy_notice.description %></th>

  </tr>
<% end %>
</table>
  




