<table>
<tr>
<th><%= f.label :started_at %><br /></th>
<th><%= f.label :woke_up_at %><br /></th>   
<th><%= f.label :slept_in %><br /></th>
<th><%= f.label :quality %><br /></th>
<th><%= f.label :interrupted %><br /></th>
<th><%= f.label :environment %><br /></th>  
<th><%= f.label :waken_by %><br /></th>   
<th><%= f.label "Woke Feeling" %><br /></th>
</tr>
<tr><td> <%#= f.datetime_select :started_at %>
    <%#= f.text_field :started_at %>
 <%= calendar_box 'sleep', 'started_at',
       { :class => 'date',
         :date => Time.zone.now,
         :field_title => 'Started to sleep',
         :button_title => 'Show calendar',
         :value => Time.zone.now },
       { :firstDay => 1,
         :range => [1900, 2015],
         :step => 1,
         :showsTime => 1,
         :showOthers => true,
         :cache => true }
 %></td>
<td>    <%#= f.datetime_select :woke_up_at %>
     <%= calendar_box 'sleep', 'woke_up_at',
       { :class => 'date',
         :date => Time.zone.now,
         :field_title => 'Woke up at',
         :button_title => 'Show calendar',
         :value => Time.zone.now },
       { :firstDay => 1,
         :range => [1900, 2015],
         :step => 1,
         :showsTime => 1,
         :showOthers => true,
         :cache => true } %></td>
<td><%= f.select :slept_in, ["Bed", "Chair", "Recliner" , "Vehicle", "Floor", "Sofa", "Cot" , "Camping"],:size => 8 %></td>    
<td><%= f.select :slept_in, [1 ,10,20,30,40,50,60, 70, 80,90, 100], :size => 3 %></td>    
<td><%= f.check_box :interrupted %></td>    
<td><%= f.select :environment, ["Very Quiet", "Quiet", "TV on", "Radio on", "Noisy" , "Moving vehicle"],:size => 6 %></td>    
<td><%= f.select :waken_by, ["Alarm", "Naturally", "Person", "Dream", "Noise"] ,:size => 8%></td>
<td><%= f.select :condition_awoken, ["Rested", "Tired"],:size => 5 %></td>



</table>
