<h1>Editing sleep</h1>

<% form_for(@sleep) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "contents", :locals => { :f => f } %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @sleep %> |
<%= link_to 'View all your naps.', sleeps_path %>
