<h1>Listing sponsors</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Message</th>
    <th>Webpage</th>
  </tr>

<% for sponsor in @sponsors %>
  <tr>
    <td><%=h sponsor.code %></td>
    <td><%=h sponsor.name %></td>
    <td><%=h sponsor.message %></td>
    <td><%=h sponsor.webpage %></td>
    <td><%= link_to 'Show', admin_sponsor_path(sponsor) %></td>
    <td><%= link_to 'Edit', edit_admin_sponsor_path(sponsor) %></td>
    <td><%= link_to 'Destroy',[:admin, sponsor], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sponsor', new_admin_sponsor_path %>
