<br/>
<% if params[:view] == "dataentry" %> 
<%= render :partial => "new_inform" %>
<% else %>





<h1>Cholesterol Chart</h1>

<%- @plot_data = [] -%>
<% @chartoptions = current_user.profile.chart_options %>
<% myPlots("cholesterol") %>
<%= makeChart %>
<div class='span-24 last'>

<hr />
<%= render :partial => "new_inform" %>

<br />

<%= will_paginate @all_cholesterols %>

<table>
  <tr>
    <th>Hdl</th>
    <th>Ldl</th>
    <th>Measured on</th>
    <th>Comment</th>
  </tr>

<% for cholesterol in @all_cholesterols %>
  <tr>
    <td><%=h cholesterol.hdl %></td>
    <td><%=h cholesterol.ldl %></td>
    <td><%=h cholesterol.measured_on %></td>
    <td><%=h cholesterol.comment %></td>
    <td><%= link_to 'Edit', edit_cholesterol_path(cholesterol) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New cholesterol', new_cholesterol_path %>
</div>
<% end %>

