<br/>
<% if params[:view] == "dataentry" %> 
<%= render :partial => "new_inform" %>
<% else %>



<br />
<h1>Blood Pressure Chart</h1>
<br />
<% begin %>
<%- @plot_data = [] -%>
<% @chartoptions = current_user.profile.chart_options %>
<% myPlots("bp") %>
<%= makeChart %>
<% rescue %>
<% end %>

<div class='span-24 last'>
<hr />

<%= render :partial => "new_inform" %>


<br/> 


  <%= will_paginate @blood_pressures %>

<br />

<table>
  <tr>
    <th>Measured on</th>
    <th>Comment</th>
    <th>Systolic</th>
    <th>Diastolic</th>
  </tr>

<% for bp in @blood_pressures %>
  <tr>
    <td><%=h bp.measured_on %></td>
    <td><%=h bp.comment %></td>
    <td><%=h bp.systolic %></td>
    <td><%=h bp.diastolic %></td>
    <td><%= link_to 'Edit', edit_bp_path(bp) %></td>
    <td><%= link_to 'Delete', bp, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New bp', new_bp_path %><br />


<br />
</div>
<% end %>

