<table>
<tr>
<th><img src="/images/F.gif"></th>
<th><img src="/images/I.gif"></th>
<th><img src="/images/B.gif"></th>
<th><img src="/images/E.gif"></th
<th><img src="/images/R.gif"></th>
<th><img src="/images/S_sleep.gif"></th>
<th><img src="/images/s_stress.gif"></th>
</tr>
<tr>
<th><%=h @quotient.f_score %></th>
<th><%=h @quotient.i_score %></th>
<th><%=h @quotient.b_score %></th>
<th><%=h @quotient.e_score %></th>
<th><%=h @quotient.r_score %></th>
<th><%=h @quotient.sleep_score %></th>
<th><%=h @quotient.stress_score %></th>
</tr>
</table>





