<table>
<tr>
<th><img src="/images/F.gif" width = 80></th>
<th><img src="/images/I.gif" width = 80></th>
<th><img src="/images/B.gif" width = 80></th>
<th><img src="/images/E.gif" width = 80></th
<th><img src="/images/R.gif" width = 80></th>
<th><img src="/images/S_sleep.gif" width = 80></th>
<th><img src="/images/s_stress.gif" width = 80></th>
<th><a href = "/quotients/new">New<br/>FIBERs<br/>Quotient</a></th>
</tr>
<tr>
<th><%=h @quotient.f_score %></th>
<th><%=h @quotient.i_score %></th>
<th><%=h @quotient.b_score %></th>
<th><%=h @quotient.e_score %></th>
<th><%=h @quotient.r_score %></th>
<th><%=h @quotient.sleep_score %></th>
<th><%=h @quotient.stress_score %></th>
<th></th>
</tr>
</table>





