<table>
<tr>
<th><a href="http://www.lifesthread.com/index.php?option=com_content&view=article&id=69"><img src="/images/F.gif" width = 80></a></th>
<th><a href="http://www.lifesthread.com/index.php?option=com_content&view=article&id=57"><img src="/images/I.gif" width = 80></a></th>
<th><a href="http://www.lifesthread.com/index.php?option=com_content&view=article&id=71"><img src="/images/B.gif" width = 80></a></th>
<th><a href="http://www.lifesthread.com/index.php?option=com_content&view=article&id=52"><img src="/images/E.gif" width = 80></a></th>
<th><a href="http://www.lifesthread.com/index.php?option=com_content&view=article&id=59"><img src="/images/R.gif" width = 80></a></th>
<th><a href="http://www.lifesthread.com/index.php?option=com_content&view=article&id=77&Itemid=96"><img src="/images/S_sleep.gif" width = 80></a></th>
<th><a href="http://www.lifesthread.com/index.php?option=com_content&view=category&id=56&Itemid=91"><img src="/images/s_stress.gif" width = 80></a></th>
<th><a href="/quotients/new">New<br/>FIBERs<br/>Quotient</a></th>
</tr>
<tr>
<th><%=h @quotient.f_score %></th>
<th><%=h @quotient.i_score %></th>
<th><%=h @quotient.b_score %></th>
<th><%=h @quotient.e_score %></th>
<th><%=h @quotient.r_score %></th>
<th><%=h @quotient.sleep_score %></th>
<th><%=h @quotient.stress_score %></th>

</tr>
</table>





