  <b>User:</b>
  <%=h @quotient.user %>
</p>

<p>
  <b>Red meat:</b>
  <%=h @quotient.red_meat %>
</p>

<p>
  <b>Fish:</b>
  <%=h @quotient.fish %>
</p>

<p>
  <b>Poultry:</b>
  <%=h @quotient.poultry %>
</p>

<p>
  <b>Vegetables daily:</b>
  <%=h @quotient.vegetables_daily %>
</p>

<p>
  <b>Fruit daily:</b>
  <%=h @quotient.fruit_daily %>
</p>

<p>
  <b>Vegetable freshness:</b>
  <%=h @quotient.vegetable_freshness %>
</p>

<p>
  <b>Fruit freshness:</b>
  <%=h @quotient.fruit_freshness %>
</p>

<p>
  <b>Fried foods:</b>
  <%=h @quotient.fried_foods %>
</p>

<p>
  <b>Over eat:</b>
  <%=h @quotient.over_eat %>
</p>

<p>
  <b>Food variety:</b>
  <%=h @quotient.food_variety %>
</p>

<p>
  <b>Fast eater:</b>
  <%=h @quotient.fast_eater %>
</p>

<p>
  <b>Proper potions:</b>
  <%=h @quotient.proper_potions %>
</p>

<p>
  <b>Eat frequently:</b>
  <%=h @quotient.eat_frequently %>
</p>

<p>
  <b>Daily dessert:</b>
  <%=h @quotient.daily_dessert %>
</p>

<p>
  <b>Whole grain breads:</b>
  <%=h @quotient.whole_grain_breads %>
</p>

<p>
  <b>Happiness:</b>
  <%=h @quotient.happiness %>
</p>

<p>
  <b>Smile frequently:</b>
  <%=h @quotient.smile_frequently %>
</p>

<p>
  <b>Enjoy daily activities:</b>
  <%=h @quotient.enjoy_daily_activities %>
</p>

<p>
  <b>Faith:</b>
  <%=h @quotient.faith %>
</p>

<p>
  <b>Reached potential:</b>
  <%=h @quotient.reached_potential %>
</p>

<p>
  <b>Reach goals regularly:</b>
  <%=h @quotient.reach_goals_regularly %>
</p>

<p>
  <b>Have inspiring people:</b>
  <%=h @quotient.have_inspiring_people %>
</p>

<p>
  <b>Listen to music:</b>
  <%=h @quotient.listen_to_music %>
</p>

<p>
  <b>Have hobby:</b>
  <%=h @quotient.have_hobby %>
</p>

<p>
  <b>Hours tv daily:</b>
  <%=h @quotient.hours_tv_daily %>
</p>

<p>
  <b>Read books:</b>
  <%=h @quotient.read_books %>
</p>

<p>
  <b>Daily newspaper:</b>
  <%=h @quotient.daily_newspaper %>
</p>

<p>
  <b>Watch sporting events:</b>
  <%=h @quotient.watch_sporting_events %>
</p>

<p>
  <b>Consider news negative:</b>
  <%=h @quotient.consider_news_negative %>
</p>

<p>
  <b>Talk with friends:</b>
  <%=h @quotient.talk_with_friends %>
</p>

<p>
  <b>Talk with family:</b>
  <%=h @quotient.talk_with_family %>
</p>

<p>
  <b>Happy with body type:</b>
  <%=h @quotient.happy_with_body_type %>
</p>

<p>
  <b>Happy with mirror reflection:</b>
  <%=h @quotient.happy_with_mirror_reflection %>
</p>

<p>
  <b>Daily exercise:</b>
  <%=h @quotient.daily_exercise %>
</p>

<p>
  <b>Weekly exercise:</b>
  <%=h @quotient.weekly_exercise %>
</p>

<p>
  <b>Able to walk distance:</b>
  <%=h @quotient.able_to_walk_distance %>
</p>

<p>
  <b>Physical limitations:</b>
  <%=h @quotient.physical_limitations %>
</p>

<p>
  <b>Understand fitness:</b>
  <%=h @quotient.understand_fitness %>
</p>

<p>
  <b>Recent operations:</b>
  <%=h @quotient.recent_operations %>
</p>

<p>
  <b>Recent medical tests:</b>
  <%=h @quotient.recent_medical_tests %>
</p>

<p>
  <b>Chronic medical problems:</b>
  <%=h @quotient.chronic_medical_problems %>
</p>

<p>
  <b>Desired life span:</b>
  <%=h @quotient.desired_life_span %>
</p>

<p>
  <b>Like state residence:</b>
  <%=h @quotient.like_state_residence %>
</p>

<p>
  <b>Like city residence:</b>
  <%=h @quotient.like_city_residence %>
</p>

<p>
  <b>Like geographical area:</b>
  <%=h @quotient.like_geographical_area %>
</p>

<p>
  <b>Like home:</b>
  <%=h @quotient.like_home %>
</p>

<p>
  <b>Like working environment:</b>
  <%=h @quotient.like_working_environment %>
</p>

<p>
  <b>Prefer different home environment:</b>
  <%=h @quotient.prefer_different_home_environment %>
</p>

<p>
  <b>Prefer different work environment:</b>
  <%=h @quotient.prefer_different_work_environment %>
</p>

<p>
  <b>Planning move:</b>
  <%=h @quotient.planning_move %>
</p>

<p>
  <b>Planning job change:</b>
  <%=h @quotient.planning_job_change %>
</p>

<p>
  <b>Planning home renovations:</b>
  <%=h @quotient.planning_home_renovations %>
</p>

<p>
  <b>Over 5 friends:</b>
  <%=h @quotient.over_5_friends %>
</p>

<p>
  <b>Over 5 relatives:</b>
  <%=h @quotient.over_5_relatives %>
</p>

<p>
  <b>Have to many friends:</b>
  <%=h @quotient.have_to_many_friends %>
</p>

<p>
  <b>Have to many relatives:</b>
  <%=h @quotient.have_to_many_relatives %>
</p>

<p>
  <b>Close to parents:</b>
  <%=h @quotient.close_to_parents %>
</p>

<p>
  <b>Close to aunts uncles:</b>
  <%=h @quotient.close_to_aunts_uncles %>
</p>

<p>
  <b>Close to siblings:</b>
  <%=h @quotient.close_to_siblings %>
</p>

<p>
  <b>Close to inlaws:</b>
  <%=h @quotient.close_to_inlaws %>
</p>

<p>
  <b>Sleep enough:</b>
  <%=h @quotient.sleep_enough %>
</p>

<p>
  <b>Stay up late:</b>
  <%=h @quotient.stay_up_late %>
</p>

<p>
  <b>Wake during night:</b>
  <%=h @quotient.wake_during_night %>
</p>

<p>
  <b>Comfartable while sleeping:</b>
  <%=h @quotient.comfartable_while_sleeping %>
</p>

<p>
  <b>Wake rested:</b>
  <%=h @quotient.wake_rested %>
</p>

<p>
  <b>Take naps:</b>
  <%=h @quotient.take_naps %>
</p>

<p>
  <b>Have dreams:</b>
  <%=h @quotient.have_dreams %>
</p>

<p>
  <b>Remember most dreams:</b>
  <%=h @quotient.remember_most_dreams %>
</p>

<p>
  <b>Comfortable bed:</b>
  <%=h @quotient.comfortable_bed %>
</p>

<p>
  <b>Comfortable pillow:</b>
  <%=h @quotient.comfortable_pillow %>
</p>

<p>
  <b>Currently worried:</b>
  <%=h @quotient.currently_worried %>
</p>

<p>
  <b>Worried as prior year:</b>
  <%=h @quotient.worried_as_prior_year %>
</p>

<p>
  <b>Worry future:</b>
  <%=h @quotient.worry_future %>
</p>

<p>
  <b>Worry finances:</b>
  <%=h @quotient.worry_finances %>
</p>

<p>
  <b>Worry about health:</b>
  <%=h @quotient.worry_about_health %>
</p>

<p>
  <b>Witness politics:</b>
  <%=h @quotient.witness_politics %>
</p>

<p>
  <b>Count todays worries:</b>
  <%=h @quotient.count_todays_worries %>
</p>

<p>
  <b>Easy life:</b>
  <%=h @quotient.easy_life %>
</p>
