<h1>Listing quotients</h1>

<table>
  <tr>
    <th>F score</th>
    <th>I score</th>
    <th>B score</th>
    <th>E score</th>
    <th>R score</th>
    <th>Sleep score</th>
    <th>sTRESSOR score</th>
  </tr>

<% for quotient in @quotients %>
  <tr>
    <td><%=h quotient.f_score %></td>
    <td><%=h quotient.i_score %></td>
    <td><%=h quotient.b_score %></td>
    <td><%=h quotient.e_score %></td>
    <td><%=h quotient.r_score %></td>
    <td><%=h quotient.sleep_score %></td>
    <td><%=h quotient.stress_score %></td>
    <!-- 
    <td><%= link_to 'Show', quotient %></td>
    <td><%= link_to 'Edit', edit_quotient_path(quotient) %></td>
    --> 
    <td><%= link_to 'Destroy', quotient, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New quotient', new_quotient_path %>
