<h1>New quotient</h1>

<% form_for(@quotient) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :red_meat %><br />
    <%= f.text_field :red_meat %>
  </p>
  <p>
    <%= f.label :fish %><br />
    <%= f.text_field :fish %>
  </p>
  <p>
    <%= f.label :poultry %><br />
    <%= f.text_field :poultry %>
  </p>
  <p>
    <%= f.label :vegetables_daily %><br />
    <%= f.text_field :vegetables_daily %>
  </p>
  <p>
    <%= f.label :fruit_daily %><br />
    <%= f.text_field :fruit_daily %>
  </p>
  <p>
    <%= f.label :vegetable_freshness %><br />
    <%= f.text_field :vegetable_freshness %>
  </p>
  <p>
    <%= f.label :fruit_freshness %><br />
    <%= f.text_field :fruit_freshness %>
  </p>
  <p>
    <%= f.label :fried_foods %><br />
    <%= f.text_field :fried_foods %>
  </p>
  <p>
    <%= f.label :over_eat %><br />
    <%= f.text_field :over_eat %>
  </p>
  <p>
    <%= f.label :food_variety %><br />
    <%= f.text_field :food_variety %>
  </p>
  <p>
    <%= f.label :fast_eater %><br />
    <%= f.text_field :fast_eater %>
  </p>
  <p>
    <%= f.label :proper_potions %><br />
    <%= f.text_field :proper_potions %>
  </p>
  <p>
    <%= f.label :eat_frequently %><br />
    <%= f.text_field :eat_frequently %>
  </p>
  <p>
    <%= f.label :daily_dessert %><br />
    <%= f.text_field :daily_dessert %>
  </p>
  <p>
    <%= f.label :whole_grain_breads %><br />
    <%= f.text_field :whole_grain_breads %>
  </p>
  <p>
    <%= f.label :happiness %><br />
    <%= f.text_field :happiness %>
  </p>
  <p>
    <%= f.label :smile_frequently %><br />
    <%= f.text_field :smile_frequently %>
  </p>
  <p>
    <%= f.label :enjoy_daily_activities %><br />
    <%= f.text_field :enjoy_daily_activities %>
  </p>
  <p>
    <%= f.label :faith %><br />
    <%= f.text_field :faith %>
  </p>
  <p>
    <%= f.label :reached_potential %><br />
    <%= f.text_field :reached_potential %>
  </p>
  <p>
    <%= f.label :reach_goals_regularly %><br />
    <%= f.text_field :reach_goals_regularly %>
  </p>
  <p>
    <%= f.label :have_inspiring_people %><br />
    <%= f.text_field :have_inspiring_people %>
  </p>
  <p>
    <%= f.label :listen_to_music %><br />
    <%= f.text_field :listen_to_music %>
  </p>
  <p>
    <%= f.label :have_hobby %><br />
    <%= f.text_field :have_hobby %>
  </p>
  <p>
    <%= f.label :hours_tv_daily %><br />
    <%= f.text_field :hours_tv_daily %>
  </p>
  <p>
    <%= f.label :read_books %><br />
    <%= f.text_field :read_books %>
  </p>
  <p>
    <%= f.label :daily_newspaper %><br />
    <%= f.text_field :daily_newspaper %>
  </p>
  <p>
    <%= f.label :watch_sporting_events %><br />
    <%= f.text_field :watch_sporting_events %>
  </p>
  <p>
    <%= f.label :consider_news_negative %><br />
    <%= f.text_field :consider_news_negative %>
  </p>
  <p>
    <%= f.label :talk_with_friends %><br />
    <%= f.text_field :talk_with_friends %>
  </p>
  <p>
    <%= f.label :talk_with_family %><br />
    <%= f.text_field :talk_with_family %>
  </p>
  <p>
    <%= f.label :happy_with_body_type %><br />
    <%= f.text_field :happy_with_body_type %>
  </p>
  <p>
    <%= f.label :happy_with_mirror_reflection %><br />
    <%= f.text_field :happy_with_mirror_reflection %>
  </p>
  <p>
    <%= f.label :daily_exercise %><br />
    <%= f.text_field :daily_exercise %>
  </p>
  <p>
    <%= f.label :weekly_exercise %><br />
    <%= f.text_field :weekly_exercise %>
  </p>
  <p>
    <%= f.label :able_to_walk_distance %><br />
    <%= f.text_field :able_to_walk_distance %>
  </p>
  <p>
    <%= f.label :physical_limitations %><br />
    <%= f.text_field :physical_limitations %>
  </p>
  <p>
    <%= f.label :understand_fitness %><br />
    <%= f.text_field :understand_fitness %>
  </p>
  <p>
    <%= f.label :recent_operations %><br />
    <%= f.text_field :recent_operations %>
  </p>
  <p>
    <%= f.label :recent_medical_tests %><br />
    <%= f.text_field :recent_medical_tests %>
  </p>
  <p>
    <%= f.label :chronic_medical_problems %><br />
    <%= f.text_field :chronic_medical_problems %>
  </p>
  <p>
    <%= f.label :desired_life_span %><br />
    <%= f.text_field :desired_life_span %>
  </p>
  <p>
    <%= f.label :like_state_residence %><br />
    <%= f.text_field :like_state_residence %>
  </p>
  <p>
    <%= f.label :like_city_residence %><br />
    <%= f.text_field :like_city_residence %>
  </p>
  <p>
    <%= f.label :like_geographical_area %><br />
    <%= f.text_field :like_geographical_area %>
  </p>
  <p>
    <%= f.label :like_home %><br />
    <%= f.text_field :like_home %>
  </p>
  <p>
    <%= f.label :like_working_environment %><br />
    <%= f.text_field :like_working_environment %>
  </p>
  <p>
    <%= f.label :prefer_different_home_environment %><br />
    <%= f.text_field :prefer_different_home_environment %>
  </p>
  <p>
    <%= f.label :prefer_different_work_environment %><br />
    <%= f.text_field :prefer_different_work_environment %>
  </p>
  <p>
    <%= f.label :planning_move %><br />
    <%= f.text_field :planning_move %>
  </p>
  <p>
    <%= f.label :planning_job_change %><br />
    <%= f.text_field :planning_job_change %>
  </p>
  <p>
    <%= f.label :planning_home_renovations %><br />
    <%= f.text_field :planning_home_renovations %>
  </p>
  <p>
    <%= f.label :over_5_friends %><br />
    <%= f.text_field :over_5_friends %>
  </p>
  <p>
    <%= f.label :over_5_relatives %><br />
    <%= f.text_field :over_5_relatives %>
  </p>
  <p>
    <%= f.label :have_to_many_friends %><br />
    <%= f.text_field :have_to_many_friends %>
  </p>
  <p>
    <%= f.label :have_to_many_relatives %><br />
    <%= f.text_field :have_to_many_relatives %>
  </p>
  <p>
    <%= f.label :close_to_parents %><br />
    <%= f.text_field :close_to_parents %>
  </p>
  <p>
    <%= f.label :close_to_aunts_uncles %><br />
    <%= f.text_field :close_to_aunts_uncles %>
  </p>
  <p>
    <%= f.label :close_to_siblings %><br />
    <%= f.text_field :close_to_siblings %>
  </p>
  <p>
    <%= f.label :close_to_inlaws %><br />
    <%= f.text_field :close_to_inlaws %>
  </p>
  <p>
    <%= f.label :sleep_enough %><br />
    <%= f.text_field :sleep_enough %>
  </p>
  <p>
    <%= f.label :stay_up_late %><br />
    <%= f.text_field :stay_up_late %>
  </p>
  <p>
    <%= f.label :wake_during_night %><br />
    <%= f.text_field :wake_during_night %>
  </p>
  <p>
    <%= f.label :comfartable_while_sleeping %><br />
    <%= f.text_field :comfartable_while_sleeping %>
  </p>
  <p>
    <%= f.label :wake_rested %><br />
    <%= f.text_field :wake_rested %>
  </p>
  <p>
    <%= f.label :take_naps %><br />
    <%= f.text_field :take_naps %>
  </p>
  <p>
    <%= f.label :have_dreams %><br />
    <%= f.text_field :have_dreams %>
  </p>
  <p>
    <%= f.label :remember_most_dreams %><br />
    <%= f.text_field :remember_most_dreams %>
  </p>
  <p>
    <%= f.label :comfortable_bed %><br />
    <%= f.text_field :comfortable_bed %>
  </p>
  <p>
    <%= f.label :comfortable_pillow %><br />
    <%= f.text_field :comfortable_pillow %>
  </p>
  <p>
    <%= f.label :currently_worried %><br />
    <%= f.text_field :currently_worried %>
  </p>
  <p>
    <%= f.label :worried_as_prior_year %><br />
    <%= f.text_field :worried_as_prior_year %>
  </p>
  <p>
    <%= f.label :worry_future %><br />
    <%= f.text_field :worry_future %>
  </p>
  <p>
    <%= f.label :worry_finances %><br />
    <%= f.text_field :worry_finances %>
  </p>
  <p>
    <%= f.label :worry_about_health %><br />
    <%= f.text_field :worry_about_health %>
  </p>
  <p>
    <%= f.label :witness_politics %><br />
    <%= f.text_field :witness_politics %>
  </p>
  <p>
    <%= f.label :count_todays_worries %><br />
    <%= f.text_field :count_todays_worries %>
  </p>
  <p>
    <%= f.label :easy_life %><br />
    <%= f.text_field :easy_life %>
  </p>
  <p>
    <%= f.label :f_score %><br />
    <%= f.text_field :f_score %>
  </p>
  <p>
    <%= f.label :i_score %><br />
    <%= f.text_field :i_score %>
  </p>
  <p>
    <%= f.label :b_score %><br />
    <%= f.text_field :b_score %>
  </p>
  <p>
    <%= f.label :e_score %><br />
    <%= f.text_field :e_score %>
  </p>
  <p>
    <%= f.label :r_score %><br />
    <%= f.text_field :r_score %>
  </p>
  <p>
    <%= f.label :s_score %><br />
    <%= f.text_field :s_score %>
  </p>
  <p>
    <%= f.label :fibers_score %><br />
    <%= f.text_field :fibers_score %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', quotients_path %>
