
<table>
  <tr>
    <th colspan=8> Date: <%= f.date_select :date %><%= f.select :meal, ["Breakfast", "Mid-morning" , "Lunch", "Mid-afternoon", "Dinner", "Late"] %> </th>
    </tr>
    
    
    
    <tr>
    <th> <%= f.label :category %> </th>
    <th> <%= f.label :name %> </th>
    <th> <%= f.label :calories  %> </th>
    <th> <%= f.label :protein %> </th>
    <th> <%= f.label :fiber %> </th>
    <th> <%= f.label :carbs %> </th>
    <th> <%= f.label :fats %> </th>
    <th> <%= f.label :comment %> </th>
</tr>
<tr>

    <td><%= f.select :category, ["Grain", "Vegetable", "Fruit", "Dairy", "Meat/Protein", "Fats/Sweets"] %></td>
    <td><%= f.text_field :name  , :size => 6 %></td>
    <td><%= f.text_field :calories  , :size => 4 %> </td>
    <td><%= f.text_field :protein  , :size =>  2 %> </td>
    <td><%= f.text_field :fiber , :size => 2 %> </td>
    <td><%= f.text_field :carbs , :size => 2 %> </td>
    <td><%= f.text_field :fats , :size => 2 %> </td>
    <td><%= f.text_field :comment, :size => 6 %> </td>
</tr>
</table>

