<h1>Food Journal</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Subcategory</th>
    <th>Name</th>
    <th>Calories</th>
    <th>Protein</th>
    <th>Fiber</th>
    <th>Carbs</th>
    <th>Fats</th>
    <th>Meal</th>
    <th>Date</th>
    <th>Comment</th>
  </tr>

<% for food in @foods %>
  <tr>
    <td><%=h food.category %></td>
    <td><%=h food.subcategory %></td>
    <td><%=h food.name %></td>
    <td><%=h food.calories  %></td>
    <td><%=h food.protein %></td>
    <td><%=h food.fiber %></td>
    <td><%=h food.carbs %></td>
    <td><%=h food.fats %></td>
    <td><%=h food.meal %></td>
    <td><%=h food.date %></td>
    <td><%=h food.comment %></td>
    <td><%= link_to 'Edit', edit_food_path(food) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New food', new_food_path %>
