<p>
  <b>Category:</b>
  <%=h @food.category %>
</p>

<p>
  <b>Subcategory:</b>
  <%=h @food.subcategory %>
</p>

<p>
  <b>Name:</b>
  <%=h @food.name %>
</p>

<p>
  <b>Calories:</b>
  <%=h @food.calories  %>
</p>

<p>
  <b>Protein:</b>
  <%=h @food.protein %>
</p>

<p>
  <b>Fiber:</b>
  <%=h @food.fiber %>
</p>

<p>
  <b>Carbs:</b>
  <%=h @food.carbs %>
</p>

<p>
  <b>Fats:</b>
  <%=h @food.fats %>
</p>

<p>
  <b>Meal:</b>
  <%=h @food.meal %>
</p>

<p>
  <b>Date:</b>
  <%=h @food.date %>
</p>

<p>
  <b>Comment:</b>
  <%=h @food.comment %>
</p>


<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
