<h1>Editing survey</h1>

<% form_for(@survey) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :question %><br />
    <%= f.text_field :question %>
  </p>
  <p>
    <%= f.label :is_active %><br />
    <%= f.check_box :is_active %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @survey %> |
<%= link_to 'Back', surveys_path %>
