<table class = "dashboard">

<tr>
<th class = "dashboard" > <%= f.label :weight  %> </th>
<th class = "dashboard" > <%= f.label :resting_metabolism %> </th>
<th class = "dashboard" > <%= f.label :fat_percent  %> </th>
<th class = "dashboard" > <%= f.label :muscle_percent %> </th>
<th class = "dashboard" > <%= f.label :visceral_fat %> </th>
<th class = "dashboard" > <%= f.label :water_percent  %> </th>
<td class= "dashboard" class="star" colspan = 3 rowspan = 2> * Check 'Is goal' if these measurements are a goal rather then your actual measurements.</td> 
</tr>

<tr>
<td class= "dashboard" > <%= f.text_field :weight , :size => 4 %>  </td>
<td class= "dashboard" > <%= f.text_field :resting_metabolism , :size => 4  %>  </td>
<td class= "dashboard" > <%= f.text_field :fat_percent , :size => 4  %> </td>
<td class= "dashboard" > <%= f.text_field :muscle_percent , :size => 4 %> </td>
<td class= "dashboard" > <%= f.text_field :visceral_fat , :size => 4 %> </td>
<td class= "dashboard" > <%= f.text_field :water_percent , :size => 4 %>  </td>
</tr>

<tr>
<th class = "dashboard" > <%= f.label :chest   %><!-- was a br --> </th>
<th class = "dashboard" > <%= f.label :pectoral%><!-- was a br --> </th>
<th class = "dashboard" > <%= f.label :bicep_left  %> </th>
<th class = "dashboard" > <%= f.label :bicep_right  %> </th>
<th class = "dashboard" > <%= f.label :belly%> </th>
<th class = "dashboard" > <%= f.label :hip  %> </th>
<th class = "dashboard" > <%= f.label :lower_hip  %> </th>
<th class = "dashboard" > <%= f.label :thigh_left  %> </th>
<th class = "dashboard" > <%= f.label :thigh_right  %> </th>

</tr>

<tr>
<td class= "dashboard" > <%= f.text_field :chest , :size => 4 %>  </td>
<td class= "dashboard" > <%= f.text_field :pectoral , :size => 4 %> </td>
<td class= "dashboard" > <%= f.text_field :bicep_left , :size => 4 %>  </td>
<td class= "dashboard" > <%= f.text_field :bicep_right, :size => 4 %> </td>
<td class= "dashboard" > <%= f.text_field :belly, :size => 4  %>  </td>
<td class= "dashboard" > <%= f.text_field :hip, :size => 4  %>  </td>
<td class= "dashboard" > <%= f.text_field :lower_hip, :size => 4  %>  </td>
<td class= "dashboard" > <%= f.text_field :thigh_left, :size => 4  %>  </td>
<td class= "dashboard" > <%= f.text_field :thigh_right, :size => 4  %> </td>
</tr>

<tr>
<th class = "dashboard" colspan = 4 > <%= f.label :measured_on %> </th>
<th class = "dashboard" colspan = 3> <%= f.label :comment %> </th>
<th class = "dashboard" colspan = 2> <%= f.label :is_goal %>*</th>

</tr>

<tr>
<td class= "dashboard" colspan = 4> <%= f.datetime_select :measured_on, :start_year => 1900, :include_seconds => true  %>  </td>
<td class= "dashboard" colspan = 3> <%= f.text_field :comment %> </td>
<td class = "dashboard" class = "star" colspan = 2 >  <%= f.check_box :is_goal %> </td>
</tr>

</table>

