<br/>
<h1>Measurements</h1>

<% if params[:view] == "dataentry" %> 
<%= render :partial => "new_inform" %>
<% else %>
<%  begin %>
<%- @plot_data = [] -%>
<% @chartoptions = current_user.profile.chart_options %>
<% myPlots("measurements") %>
<% rescue %>
<% end %>
<%= makeChart %>


<div class='last'>
<%= render :partial => "new_inform" %>

<br />

<%= will_paginate @body_measurement_goals %>
<br />

<strong>Goals</strong>
<table>
  <tr>
    <th>Weight</th>
    <th>Resting metabolism</th>
    <th>Fat %</th>
    <th>Muscle %</th>
    <th>Visceral fat</th>
    <th>H2O %</th>
    <th>Chest</th>
    <th>Belly</th>
    <th>Upper Hip</th>
    <th>Lower Hip</th>
    <th>Thigh</th>
    <th>Calf</th>
    <th>Bicept</th>
    <th>Measured on</th>
    <th>Comment</th>
  </tr>

<% for measurement in @body_measurement_goals %>
  <tr>
    <td><%=h measurement.weight %></td>
    <td><%=h measurement.resting_metabolism %></td>
    <td><%=h measurement.fat_percent %></td>
    <td><%=h measurement.muscle_percent %></td>
    <td><%=h measurement.visceral_fat %></td>
    <td><%=h measurement.water_percent %></td>
    <td><%=h measurement.chest %></td>
    <td><%=h measurement.belly %></td>
    <td><%=h measurement.hip%></td>
    <td><%=h measurement.lowerhip %></td>
    <td><%=h measurement.thigh %></td>
    <td><%=h measurement.calf %></td>
    <td><%=h measurement.bicep %></td>
    <td><%=h measurement.measured_on.to_s(:long) %></td>
    <td><%=h measurement.comment %></td>
    <td><%= link_to 'Edit', edit_measurement_path(measurement) %></td>
    <td><%= link_to 'Delete', measurement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<br />
History <br />
<%= will_paginate @body_measurements %>
<br />
<table>
  <tr>
    <th>Weight</th>
    <th>Resting metabolism</th>
    <th>Fat %</th>
    <th>Muscle %</th>
    <th>Visceral fat</th>
    <th>H20 %</th>
    <th>Neck</th>
    <th>Chest</th>
    <th>Bicep</th>
    <th>Belly</th>
    <th>Hip</th>
    <th>Thigh left</th>
    <th>Calf</th>
    <th>Measured on</th>
    <th>Comment</th>
  </tr>

<% for measurement in @body_measurements %>
  <tr>
    <td><%=h measurement.weight %></td>
    <td><%=h measurement.resting_metabolism %></td>
    <td><%=h measurement.fat_percent %></td>
    <td><%=h measurement.muscle_percent %></td>
    <td><%=h measurement.visceral_fat %></td>
    <td><%=h measurement.water_percent %></td>
    <td><%=h measurement.neck %></td>
    <td><%=h measurement.chest %></td>
    <td><%=h measurement.bicep%></td>
    <td><%=h measurement.belly %></td>
    <td><%=h measurement.hip %></td>
    <td><%=h measurement.thigh %></td>
    <td><%=h measurement.calf %></td>
    <td><%=h measurement.measured_on.to_s(:long) %></td>
    <td><%=h measurement.comment %></td>
    <td><%= link_to 'Edit', edit_measurement_path(measurement) %></td>
    <td><%= link_to 'Delete', measurement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<br />

<%= link_to 'New measurement', new_measurement_path %>
</div>
<% end %>


