
<p>
  <b>Weight:</b>
  <%=h @measurement.weight %>
</p>

<p>
  <b>Resting metabolism:</b>
  <%=h @measurement.resting_metabolism %>
</p>

<p>
  <b>Fat percent:</b>
  <%=h @measurement.fat_percent %>
</p>

<p>
  <b>Muscle percent:</b>
  <%=h @measurement.muscle_percent %>
</p>

<p>
  <b>Visceral fat:</b>
  <%=h @measurement.visceral_fat %>
</p>

<p>
  <b>Water percent:</b>
  <%=h @measurement.water_percent %>
</p>

<p>
  <b>Chest:</b>
  <%=h @measurement.chest %>
</p>

<p>
  <b>Pectoral:</b>
  <%=h @measurement.pectoral %>
</p>

<p>
  <b>Bicep left:</b>
  <%=h @measurement.bicep_left %>
</p>

<p>
  <b>Bicep right:</b>
  <%=h @measurement.bicep_right %>
</p>

<p>
  <b>Belly:</b>
  <%=h @measurement.belly %>
</p>

<p>
  <b>Hip:</b>
  <%=h @measurement.hip %>
</p>

<p>
  <b>Lower hip:</b>
  <%=h @measurement.lower_hip %>
</p>

<p>
  <b>Thigh left:</b>
  <%=h @measurement.thigh_left %>
</p>

<p>
  <b>Thigh right:</b>
  <%=h @measurement.thigh_right %>
</p>

<p>
  <b>Measured on:</b>
  <%=h @measurement.measured_on %>
</p>

<p>
  <b>Comment:</b>
  <%=h @measurement.comment %>
</p>


<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>
