<% states =  ["AK", "AL", "AR", "AZ", "CA", "CO", "CT", "DC", "DE", "FL", "GA", "HI", "IA", "ID", "IL", "IN", "KS", "KY", "LA", "MA", "MD", "ME", "MI", "MN", "MO", "MS", "MT", "NC", "ND", "NE", "NH", "NJ", "NM", "NV", "NY", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VA", "VT", "WA", "WI", "WV", "WY"] %>

<% form_for ([:admin, :report]) , :url => { :action => :index } do |f| %>

  <p>
  
    <%= f.label "Report:" %><!-- was a br -->
    <%= text_field_tag "report_option" %>
  
    <%= f.submit "By Member" %> <%= f.submit "By Zip" %>  |
  
    <%= f.label :state %><!-- was a br -->
    <%= select_tag "state", options_for_select(states) %>
  
    <%= f.submit "State" %> |
  
  
    <%= f.submit "National" %>
    
    
    
  </p>
<% end %>
