<p>
  <b>User:</b>
  <%=h @role.user %>
</p>

<p>
  <b>Permission:</b>
  <%=h @role.permission %>
</p>

<p>
  <b>Template:</b>
  <%=h @role.template %>
</p>

<p>
  <b>Conditions:</b>
  <%=h @role.conditions %>
</p>

<p>
  <b>Admin approved:</b>
  <%=h @role.admin_approved %>
</p>

<p>
  <b>Request comment:</b>
  <%=h @role.request_comment %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
