<% content_for :header do %><br />
  <strong>Admins, please be careful here.</strong>
<% end %>



<%= error_messages_for :user %>

<table>
<tr><td>
<% form_for([:admin, @user]) do |f| %>


<p><label for="login">Login</label> : <%= @user.login %></p>

<p>Email
<%= f.text_field :email %></p>


<p>First Name
<%= f.text_field :first_name %></p>

<p>Middle Name
<%= f.text_field :middle_name %></p>

<p>Last Name
<%= f.text_field :last_name %></p>


<p>Time Zone
<%= f.time_zone_select :time_zone, TimeZone.us_zones %>

<p>Admin:
<%= f.check_box :admin %> 

Public:
<%= f.check_box :public %></p>
</td><td>
<fieldset>
  <legend>Address and Contact Information: </legend>
 <div class="make_left"> <p>
  Address:<br />
    <%= @profile.address1.capitalize %><br />  
    <%= "#{@profile.address2 } <br />"  unless @profile.address2.nil? %>
    <%= @profile.city.capitalize %>
,
    <%= @profile.state %>


    <%= @profile.zip %>
  <p>
    <%="cell phone:".capitalize %> <!-- was a br -->
    <%= @profile.cell_phone %><br />
    <%="phone:".capitalize %> <!-- was a br -->
    <%= @profile.phone %><br />
    <%="work phone:".capitalize %> <!-- was a br -->
    <%= @profile.work_phone %>
  </p>
  </div>

</fieldset>
</td></tr>
</table>


  <fieldset>
  <legend>New Role</legend>
    <% fields_for :roles do |role| %>
    Has Role: <%= select_tag :has_role, options_for_select(["","MEMBER","SUPER MEMBER","AUTHOR","EDITOR","PUBLISHER"]) %>
    Sub Roles: <%= select_tag :sub_role, options_for_select(["ALL","REPORT","CREATE","EDIT","PUBLISH"]) %>
    Conditions: <%= text_field_tag :conditions %>
    Leader: <%= check_box_tag (:leader, value = 1, checked = true) %><br />
<div class="keep_left left make_small last">
NOTE: Not all 'Sub roles' apply to all 'Roles'.  Unless you want to restrict a role, give it 'Sub role' = 'ALL'.<br />
NOTE: Conditions currently are only a single zip code.  For every zip code you with to grant that user, add another role.  (Soon conditions will give more options like miles from zip code and so on, but this is for now)<br />
NOTE: Leader; leaders are able to grant sub-roles to delegate responsibilities to members in their organisation, but they can only delegate roles that they own and can not create other leaders.  An example would be for a Super Member that has a large company, he would want to have a guy be able to view and print reports, but not create patients and have another person focus on creating patients and answering questions.<br />
</div>
      <%# t.string :sub_roles %>

    <% end %>
  </fieldset>




  <p><%= submit_tag 'Update' %></p> 
<% end -%>

<% for role in @roles %>
Role: <%= role.has_role %>
Conditions: <%= role.conditions %>
Leader: <%= role.leader ? "Yes" : "No" %>
<%= link_to 'Destroy', admin_user_path(role), :confirm => 'Are you sure?', :method => :delete %><br />
<% end %>

