<% content_for :header do %><br />
  <strong>Admins, please be careful here.</strong>
<% end %>



<%= error_messages_for :user %>

<table>
<tr><td>
<% form_for([:admin, @user]) do |f| %>


<p><label for="login">Login</label> : <%= @user.login %></p>

<p>Email
<%= f.text_field :email %></p>


<p>First Name
<%= f.text_field :first_name %></p>

<p>Middle Name
<%= f.text_field :middle_name %></p>

<p>Last Name
<%= f.text_field :last_name %></p>


<p>Time Zone
<%= f.time_zone_select :time_zone, TimeZone.us_zones %>
</td><td>
<fieldset>
  <legend>Address and Contact Information: </legend>
 <div class="make_left"> <p>
  Address:<br />
    <%= @profile.address1.capitalize %><br />  
    <%= "#{@profile.address2 } <br />"  unless @profile.address2.nil? %>
    <%= @profile.city.capitalize %>
,
    <%= @profile.state %>


    <%= @profile.zip %>
  <p>
    <%="cell phone:".capitalize %> <!-- was a br -->
    <%= @profile.cell_phone %><br />
    <%="phone:".capitalize %> <!-- was a br -->
    <%= @profile.phone %><br />
    <%="work phone:".capitalize %> <!-- was a br -->
    <%= @profile.work_phone %>
  </p>
  </div>

</fieldset>
</td></tr>
</table>


  <fieldset>
  <legend>New Role</legend>
    <% fields_for :roles do |role| %>
    Has Role: <%= select_tag :has_role, options_for_select(["","MEMBER","SUPER MEMBER"]) %>
    Sub Roles: <%= select_tag :sub_role, options_for_select(["ALL","REPORT","CREATE","EDIT","PUBLISH"]) %>
    Conditions: <%= select_tag :conditions , options_for_select (@member_conditions)%><br />
    
*NOTE: Not all 'Sub roles' apply to all 'Roles'.  Unless you want to restrict a role, give it 'Sub role' = 'ALL'.
      <%# t.string :sub_roles %>

    <% end %>
  </fieldset>




  <p><%= submit_tag 'Update' %></p> 
<% end -%>

<% for role in @roles %>
Role: <%= role.has_role %><br />
Conditions: <%= role.conditions %><br />
Leader: <%= role.leader ? "Yes" : "No" %><br />
<% end %>

