<body class="common">


<div class="container">

<div class="span-24 last header keep_left">
<div class="span-4 localtime">
Local Time<br /> <em><%= Time.zone.now.to_s(:short) %></em>
<%= yield :localtime %>
</div>
<div class="span-16 center">
<h3><strong>Welcome to your Wellness Board, <em><%=h current_user.first_name -%></em></strong> <%= yield :header %></h3>
</div>
<div class="span-4 last logout keep_right">
<%= link_to 'Support', new_support_path(:ref_page => request.url)   %>
<%= link_to '<img src="/images/mini_help1.jpg" />', new_support_path(:ref_page => request.url)   %>
 |
<strong><%= link_to 'LOGOUT', logout_path %></strong>
</div>
</div>

<div class="span-24 last menu">
<%= yield :navigation %>
<%= yield :navigation_alt %> 
<%= render :partial => "/layouts/menu" %>
</div>

<div class="span-24 last content" >
<%= "<p style=\"color: green\">" +  flash[:notice] + " </p>" unless flash[:notice].nil?  %>
<%= yield :layout %></div></div>


<% if logged_in? %>
<% puts "** Users Login: #{current_user.login} Time: #{Time.now} **" %>
<div id="footer"><%= yield :footer %></div>

<% end %>








</div <%# /div for class container %>>
</body>
</html>
