<body>
<%= render :partial =>  "/layouts/masthead" %>


<div class="content">
<%= render :partial => "/menus/vip" %><%# = Time.zone.now.to_s(:short) -%>
<div class="notice"><%= '<p style="color: green">' +flash[:notice]+ ' </p>' unless flash[:notice].nil?  -%></div>

<div class="layout"><%= yield :layout %></div>
</div>

<div id="footer"><%= yield :footer %>
<a href="http://www.Lifesthread.com">Lifesthread.com</a>
</div>
</body>
</html>
