<body class="common">


<div class="container">

<div class="span-24 last header">
<div class="span-5 center">
<%# Local Time<br /> <em><%= Time.zone.now.to_s(:short) %>
<%# <%= yield :localtime %>
<em><a href="http://lifesthread.com/index.php?option=com_content&view=section&id=7&Itemid=59">GIVING THE GIFTS OF WELLNESS</em></a>
</div>
<div class="span-14 center">
<h3>Welcome to your Wellness Board,</h3><h3><em><%=h current_user.first_name -%></em></h3><h4><%= current_user.myroles %><%= yield :header %></em></h4>
</div>
<div class="span-5 last keep_left">
<%= link_to 'Support', new_support_path(:ref_page => request.url)   %>
<%= link_to '<img src="/images/mini_help1.jpg" />', new_support_path(:ref_page => request.url)   %>
 |
<strong><%= link_to 'LOGOUT', logout_path %> </strong>
</div>
</div>

<div id="menu" class="span-24 last">
<%= yield :navigation %>
<%= yield :navigation_alt %> 
<%= render :partial => "/layouts/menu" %>
</div>


<div class="span-24 last content" >
<%= "<p style=\"color: green\">" +  flash[:notice] + " </p>" unless flash[:notice].nil?  %>
<%= yield :layout %></div></div>


<% if logged_in? %>
<% puts "** Users Login: #{current_user.login} Time: #{Time.now} **" %>
<div id="footer"><%= yield :footer %></div>

<% end %>








</div <%# /div for class container %>>
</body>
</html>
