<div class="menu">
<fieldset>
 <%= link_to 'Home', root_path %> 
 <%= link_to 'Master Chart', charts_path %> 
 <%= link_to 'Medications', medications_path %> 
 <%= link_to 'Blood Pressure', bps_path %>  
 <%= link_to 'Cholesterol', cholesterols_path %>  
 <%= link_to 'sTressors', stresses_path %>  
 <%= link_to 'Relationships', relationships_path %> 
 <%= link_to 'Food', foods_path %> 
 <%= link_to 'Medical History', medical_histories_path %> 
 <%= link_to 'Illness History', illness_histories_path %> 
 <%= link_to 'Body Image', measurements_path %>
 <%= link_to 'Workouts', workouts_path %>
 <%= link_to 'Fitness Plans', fitness_plans_path %>
 <%= link_to 'Profile', profile_path %> 
 <%= link_to 'New Support/Bug', new_support_path(:ref_page => request.url) %>
 <%= link_to 'View Support/Bug', supports_path %>
</fieldset>
</div>
