<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<% # if ! logged_in? then  %>
 <% #= link_to 'Please log in', root_path -%> <br />

<% #else %>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Wellnessboard <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>


  <!-- flot includes  -->
    <!--[if IE]><script language="javascript" type="text/javascript" src="javascripts/excanvas.pack.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="/javascripts/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/jquery.flot.js"></script>
  <!-- end flot includes -->
  
  
</head>
<body>




<div id="container">

<div id="header">
  Your LifesThread today: <img src="/images/imglifesthread.jpg" alt="Welcome to lifesthread" />
  <p><strong>Welcome <%= h current_user.first_name  -%></strong> 
  <%= link_to 'Logout', logout_path -%> </p>
  <p style="color: green"><%= flash[:notice] %></p>
<%= yield :header %> 
</div>

<div id="wrapper"><div id="content"> <%= yield :layout %></div></div>

<div id="navigation"> 
  <%= render :partial => "/layouts/linktos" %><%= yield :navigation %>
</div>

<div id="extra"><%= yield :extra %></div>

<div id="option"><%= yield :option %></div>
<div id="footer"><p>FOOTER</p><%= yield :footer %></div>
</div>



<% # end %>


</body>
</html>



