<%= render :partial => "/layouts/head" %>
<body>

<div id="container">

<div id="header">
  <strong>Welcome <%= h current_user.first_name -%></strong>
  <% puts "** Users Login: #{current_user.login} Time: #{Time.now} **" %>

 
<%= yield :header %> 
<%= render :partial => "/layouts/menu" %>
</div>

<div id="wrapper"><div id="content">
 <%= "<p style=\"color: green\">" +  flash[:notice] + " </p>" unless flash[:notice].nil?  %>
 <%= yield :layout %>
 </div>
 </div>


<div id="option"><%= yield :option %></div>
<div id="footer"><p>FOOTER</p><%= yield :footer %></div>
</div>

<% # end %>




</body>
</html>



