<%= render :partial => "/layouts/head" %>
<body>


<div id="container">

<div id="header"> 
<%= yield :header %>
<%= yield :navigation %>
<%= yield :navigation_alt %> 
<%= render :partial => "/layouts/menu" %>
</div>

<div id="wrapper"><div id="content">
<%= "<p style=\"color: green\">" +  flash[:notice] + " </p>" unless flash[:notice].nil?  %>
<%= yield :layout %></div></div>


<% if logged_in? %>
<% puts "** Users Login: #{current_user.login} Time: #{Time.now} **" %>
<div id="footer"><%= yield :footer %></div>

<% end %>

</div>







</body>
</html>
