<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Homes: <%= controller.action_name %></title>
 
    <%= stylesheet_link_tag 'scaffold' %>


  <!-- flot includes  -->
    <!--[if IE]><script language="javascript" type="text/javascript" src="javascripts/excanvas.pack.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="javascripts/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="javascripts/jquery.flot.js"></script>
  <!-- end flot includes -->
</head>
<body>




<div id="container">

<div id="header"><p style="color: green"><%= flash[:notice] %></p>
<%= yield :header %> </div>

<div id="wrapper"><div id="content"> <%= yield :layout %></div></div>


<% if logged_in? %>
<% puts "******* Users Login: #{current_user.login} Time: #{Time.now} ***** " %>
<div id="navigation"><%= yield :navigation %></div>


<div id="extra"><%= yield :extra %></div>

<div id="footer"><%= yield :footer %></div>

<% end %>

</div>














<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-5016991-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>

</body>
</html>
