<h1>Create Sample users.</h1>

<% form_for([:admin, @sample]) do |f| %>
  <%= f.error_messages %>

<% states =  ["--", "AK", "AL", "AR", "AZ", "CA", "CO", "CT", "DC", "DE", "FL", "GA", "HI", "IA", "ID", "IL", "IN", "KS", "KY", "LA", "MA", "MD", "ME", "MI", "MN", "MO", "MS", "MT", "NC", "ND", "NE", "NH", "NJ", "NM", "NV", "NY", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VA", "VT", "WA", "WI", "WV", "WY"] %>
  
Number of users to create <%= f.text_field :count, :size => 8  %><br />
Number of samples per user <%= text_field_tag "sub_samples", 10 %><br />
    

Optional:<br />
    <!--
Zip code:  <%= text_field_tag "what_zip" %><br /> -->
City: <%= text_field_tag "city" %> 
State:<%= select_tag "state", options_for_select(states) %><br />

Label Z_<%= text_field_tag "prefix", Time.now.to_i %><br />

<%= f.submit "Create" %>

<% end %>

  
